@import "tailwindcss";
@import "flowbite/src/themes/default";

@custom-variant dark (&:where(.dark, .dark *));

html {
  --bg-paper: #ffffff;
  --bg-paper-hover: #eeeeee;
  --bg-paper-green: #e2fde8;
  --bg-paper-green-hover: #d9ebdd;
  --bg-dialog: #ffffff;
  --bg-dialog-actions: #ffffff;

  --color-funky: #c323b0;
  --color-error: #df4040;
  --color-error-hover: #b32020;
  --color-success: var(--color-green-600);
  --color-success-hover: var(--color-green-800);

  --color-primary: #4a4e8d;
  --color-primary-hover: #2a2e64;
  --color-secondary: #c323b0;

  &:where(.dark, .dark *) {
    --bg-paper: #4a4e8d60;
    --bg-paper-popup: #4a4e8d;
    --bg-paper-hover: #45487960;
    --bg-paper-green: #386b4160;
    --bg-paper-green-hover: #1e5f2a60;
    --bg-dialog: #2b2c34;
    --bg-dialog-actions: #15151b;
    --color-primary: #c323b0;
    --color-primary-hover: #970c87;
    --color-secondary: #4a4e8d;
    --color-white: #ffffffde;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

table {
  font-family: "Roboto", sans-serif !important;
}

a:hover,
button:hover {
  cursor: pointer;
}

dialog {
  color: inherit;
}

input,
textarea {
  border-color: var(--color-slate-300);
}

.card {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--bg-paper);
  &:where(.dark, .dark *) {
    box-shadow: none;
  }
}
.card.popup {
  &:where(.dark, .dark *) {
    background-color: var(--bg-dialog);
  }
}
dialog.card {
  &:where(.dark, .dark *) {
    background-color: var(--bg-dialog);
  }
}
.card.action:hover {
  background-color: var(--bg-paper-hover);
}

.card-green {
  background-color: var(--bg-paper-green);
}
.card-green:hover {
  background-color: var(--bg-paper-green-hover);
}

button.disabled,
button.loading {
  opacity: 0.5;
  pointer-events: none;
}

a.contained:focus,
button.contained:focus,
a.outlined:focus,
button.outlined:focus {
  outline: none;
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0
    calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color, black);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

a.contained,
a.outlined,
button.contained,
button.outlined {
  padding-block: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 4);
  transition-property:
    color,
    background-color,
    border-color,
    outline-color,
    text-decoration-color,
    fill,
    stroke,
    --tw-gradient-from,
    --tw-gradient-via,
    --tw-gradient-to,
    opacity,
    box-shadow,
    transform,
    translate,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter,
    display,
    content-visibility,
    overlay,
    pointer-events;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  border-radius: var(--radius-xs);
}

a.contained,
button.contained {
  color: var(--color-white);
  background-color: var(--color-primary);
}
a.contained.dangerous,
button.contained.dangerous {
  background-color: var(--color-error);
}
a.contained.success,
button.contained.success {
  background-color: var(--color-success);
}
a.contained.success:hover,
button.contained.success:hover {
  background-color: var(--color-success-hover);
}
a.contained:hover,
button.contained:hover {
  background-color: var(--color-primary-hover);
}
a.contained.dangerous:hover,
button.contained.dangerous:hover {
  background-color: var(--color-error-hover);
}

a.outlined,
button.outlined {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
a.outlined.dangerous,
button.outlined.dangerous {
  color: var(--color-error);
  border-color: var(--color-error);
}
a.outlined:hover,
button.outlined:hover {
  background-color: #dedede;
}

select {
  border: 1px solid var(--color-slate-300);
  cursor: pointer;
  padding: calc(var(--spacing) * 3.5);
}
select option {
  &:where(.dark, .dark *) {
    background-color: var(--bg-dialog);
  }
}

.hand-written {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Profile icon colors */
.profile-icon-u {
  background-color: var(--color-primary);
}
.profile-icon-1 {
  background-color: #c323b0;
}
.profile-icon-2 {
  background-color: #146b31;
}
.profile-icon-3 {
  background-color: #9c3911;
}
.profile-icon-4 {
  background-color: #0c6fc0;
}
.profile-icon-5 {
  background-color: #07838b;
}
.profile-icon-6 {
  background-color: #a11337;
}
.profile-icon-7 {
  background-color: #6a428b;
}
.profile-icon-8 {
  background-color: #806939;
}
