<!doctype html>
{% extends 'base.html' %} {% block content %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: block;
    max-height: 500px;
    overflow-y: auto;
  }
  .header-row {
    position: sticky;
    top: 0;
  }
  td,
  th {
    border: 1px solid #ffffff1a;
    text-align: left;
    padding: 0;
  }
  td > *,
  th > * {
    display: inline-block;
    width: 100%;
    padding: 8px;
  }
  tr.header-row {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
    &:where(.dark, .dark *) {
      background-color: #15151b !important;
    }
  }
  tr:nth-child(odd) {
    background-color: white;
    &:where(.dark, .dark *) {
      background-color: #1d1e25;
    }
  }
  tr:nth-child(even) {
    background-color: #dadada;
    &:where(.dark, .dark *) {
      background-color: #2b2c34;
    }
  }

  label > a {
    color: #3b82f6 !important;
    text-decoration: underline;
  }
</style>

<div class="w-full max-w-5xl p-6 my-4">
  <div class="flex flex-col items-start">
    <a
      href="/"
      class="flex justify-center items-center mb-4 text-xl text-(--color-primary)"
    >
      <i data-lucide="chevron-left" class="w-8 h-8"></i> <b>CV Tool</b>
    </a>

    <!-- Card Container -->
    <div class="card w-full bg-(--bg-paper) rounded-2xl overflow-hidden p-6">
      <!-- Header -->
      <div class="text-center mb-6">
        <h1 class="text-3xl font-bold">Processed CVs</h1>
        <p class="mt-2 opacity-[0.6]">
          View CVs created with this tool.<br />
          <!-- <b>Deleting a CV is permanent.</b> -->
        </p>
      </div>

      <div id="loading-spinner">
        <svg
          class="animate-spin h-8 w-8 text-blue-600 mx-auto"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>

      <div id="table-container" class="hidden">
        <button
          id="delete-btn"
          type="button"
          class="delete-btn disabled flex items-center gap-2 bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-sm hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-red-300 transition duration-200 mb-2"
          onclick="delete_modal.showModal()"
        >
          <i data-lucide="trash" class="w-4 h-4"></i>
          <p id="delete-text">Delete</p>
        </button>

        <table id="cv-table">
          <tr class="header-row z-10">
            <th></th>
            <th class="w-max"><p>Owner</p></th>
            <th class="w-1/3"><p>Date Uploaded</p></th>
            <th class="w-full"><p>ID</p></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<dialog
  id="delete_modal"
  class="modal card max-w-md bg-(--bg-dialog) rounded-2xl overflow-hidden p-6"
>
  <div class="modal-box">
    <h3 class="text-lg font-bold">Are you sure?</h3>
    <p class="py-4 mb-2">
      The selected CVs are <b>permanently</b> deleted and cannot be recovered.
    </p>
    <div class="modal-action">
      <form method="dialog" class="flex gap-2 items-center">
        <button
          id="delete-confirm-btn"
          class="bg-red-700 text-white font-bold py-3 px-4 rounded-sm hover:bg-red-900 focus:outline-none focus:ring-4 focus:ring-red-300 transition duration-200 mb-2"
        >
          Delete
        </button>
        <button
          class="py-3 px-4 rounded-sm focus:outline-none focus:ring-4 transition duration-200 mb-2"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</dialog>

<script>
  // Initialize Icons
  lucide.createIcons();

  const loadingSpinner = document.getElementById("loading-spinner");
  const tableContainer = document.getElementById("table-container");
  const cvTable = document.getElementById("cv-table");
  const deleteButton = document.getElementById("delete-btn");
  const deleteText = document.getElementById("delete-text");

  const deleteConfirmButton = document.getElementById("delete-confirm-btn");

  let rows = [];

  async function fetchRows() {
    try {
      // Fetch the CV list from the backend
      const response = await fetch("/api/cv", {
        method: "GET",
      });
      const json = await response.json();
      rows = json["data"];

      // Clear previous rows from the table when re-fetching
      // Always keep the top (header) row
      while (cvTable.rows.length > 1) {
        cvTable.deleteRow(-1);
      }

      rows.forEach((row, i) => {
        const rowNode = cvTable.insertRow();
        rowNode.innerHTML = `
              <tr>
                <td>
                  <label for="row-${i}" class="flex justify-center">
                    <input id="row-${i}" type="checkbox" class="row-selector" />
                  </label>
                </td>
                <td><label for="row-${i}">${row["data_owner"]}</label></td>
                <td><label for="row-${i}">${row["date_uploaded"] != null ? new Date(row["date_uploaded"]).toLocaleString() : "-"}</label></td>
                <td>
                  <label for="row-${i}">
                    ${
                      row["date_uploaded"] != null
                        ? `<a id="row-${i}-id" href="/view/${row["id"]}" target="_blank">${row["id"]}</a>`
                        : `<p id="row-${i}-id">${row["id"]}</p>`
                    }

                  </label>
                </td>
              </tr>
            `;
      });

      loadingSpinner.classList.add("hidden");
      tableContainer.classList.remove("hidden");
    } catch (e) {
      console.error(e);
    }
  }
  fetchRows();

  cvTable.addEventListener("change", (e) => {
    const checkboxes = Array.from(
      cvTable.getElementsByClassName("row-selector"),
    );
    const selections = checkboxes.filter((c) => c.checked);
    if (selections.length > 0) {
      deleteText.innerHTML = `Delete (${selections.length})`;
      deleteButton.classList.remove("disabled");
    } else {
      deleteText.innerHTML = "Delete";
      deleteButton.classList.add("disabled");
    }
  });

  deleteConfirmButton.addEventListener("click", async (e) => {
    loadingSpinner.classList.remove("hidden");
    tableContainer.classList.add("hidden");

    const checkboxes = Array.from(
      cvTable.getElementsByClassName("row-selector"),
    );
    const selections = checkboxes.filter((c) => c.checked);
    const selectionIDs = selections.map(
      (s) => document.querySelector(`#${s.id}-id`).innerHTML,
    );

    const formData = new FormData();
    formData.append("cvListJson", JSON.stringify(selectionIDs));

    try {
      const response = await fetch("/api/cv", {
        method: "DELETE",
        body: formData,
      });

      const result = await response.json();
      if (response.ok && result.success) {
        deleteText.innerHTML = "Delete";
        deleteButton.classList.add("disabled");
        fetchRows();
      } else {
        loadingSpinner.classList.add("hidden");
        tableContainer.classList.remove("hidden");
      }
    } catch (e) {
      console.error(e);
    }
  });
</script>
{% endblock %}
