<!doctype html>
{% extends 'base.html' %}

<!---->
{% block content %}
<style>
  label {
    background-color: var(--bg-dialog);
  }
  input,
  textarea {
    background-color: var(--bg-dialog-actions);
  }

  .index {
    background-color: var(--bg-dialog-actions);
  }

  textarea {
    field-sizing: content;
  }

  .bottom-actions {
    position: fixed;
    top: calc(100vh - 100px);
    height: 100px;
  }

  .skills-row {
    cursor: pointer;
    border-radius: 5px;
  }
  .skills-row:hover {
    background-color: #0011ff1a;
  }
  button.delete-skill {
    cursor: pointer;
    border: 0.5px solid #00000000;
  }
  button.delete-skill:hover {
    border: 0.5px solid #000000;
  }
  div.proficiency span {
    color: var(--color-sky-200);
  }
  div.proficiency span.active {
    color: var(--color-sky-700);
  }
  tr.highlight svg.lucide-star {
    fill: var(--color-amber-300);
  }

  .skill-table tbody tr:not(:last-child) {
    border-bottom: 1px solid #0000002a;
  }
  .skill-table th,
  .skill-table td {
    padding: 5px 20px;
  }
</style>

<meta id="cv_id" data-other="{{cv_id}}" />

<div class="w-full max-w-3xl overflow-hidden flex relative mb-[100px]">
  <div class="size-full">
    <div class="p-6 space-y-4">
      <p class="text-xl font-bold">Edit CV</p>

      <!-- Basic Info -->
      {% if not hide_basic_info_from_cv_edit %}
      <div id="info-wrapper" class="px-4 pb-4 space-y-4">
        <div class="relative w-full pt-2">
          <label
            for="info_name"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Name
          </label>
          <input
            id="info_name"
            name="name"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full max-w-[300px]"
            value="{{cv_data.name}}"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="info_title"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Title
          </label>
          <input
            id="info_title"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full max-w-[300px]"
            value="{{cv_data.title}}"
          />
        </div>
      </div>
      {% endif %}

      <!-- Profile edit -->
      <p class="header text-lg font-bold">Profile Texts</p>
      <div id="profile-wrapper" class="px-4 pb-4 space-y-4">
        <div id="profile-list" class="space-y-4">
          {% for profile in cv_data.profile_texts %}
          <div id="container-profile-{{loop.index}}" class="flex gap-2">
            <!-- prettier-ignore -->
            <textarea
              id="profile-{{loop.index}}"
              class="border border-[rgba(0,0,0,0.2)] rounded-sm p-4 w-full min-w-100"
            >{{profile}}</textarea>

            <div
              id="list-index"
              class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
            >
              {{loop.index}}
            </div>
            <button
              type="button"
              id="delete-experience-{{loop.index}}"
              class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
              onclick="deleteCvElement(event, 'profile-list')"
            >
              <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
            </button>
          </div>
          {% endfor %}
        </div>
        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-profile-btn"
            class="flex px-4 items-center justify-center border border-green-500 rounded-3xl p-2 gap-3 text-green-600"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>NEW</span>
          </button>
          <button
            type="button"
            id="delete-experience-1"
            class="invisible flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- Skills edit -->
      <p class="header text-lg font-bold">Skills</p>
      <div id="skills-wrapper" class="px-4 pb-4 space-y-2">
        <button
          class="contained flex items-center gap-2"
          onclick="openSkillEditDialog(event, '', '', '')"
        >
          <i data-lucide="plus" class="w-5 h-5"></i>
          New
        </button>

        <div id="skill-list" class="border border-default rounded-xs p-2">
          <table id="skills-table" class="skill-table w-full table-auto">
            <thead>
              <tr>
                <th>HL?</th>
                <th class="w-full text-start">Name</th>
                <th>Proficiency</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for skill in cv_data.skills %}
              <tr
                id="skill_row_{{loop.index}}"
                class="skills-row items-center {{'highlight' if skill.is_highlight else ''}}"
                onclick="openSkillEditDialog(event, this)"
              >
                <td>
                  <i data-lucide="star" class="w-5 h-5"></i>
                </td>
                <td class="skill-name">{{skill.name}}</td>
                <td class="flex flex-col items-center w-fit text-center">
                  <div class="proficiency my-[-10px] text-4xl tracking-tighter">
                    <span class="active">-</span>
                    <span class="{{'active' if skill.proficiency > 1 else ''}}">
                      -
                    </span>
                    <span class="{{'active' if skill.proficiency > 2 else ''}}">
                      -
                    </span>
                    <span class="{{'active' if skill.proficiency > 3 else ''}}">
                      -
                    </span>
                    <span class="{{'active' if skill.proficiency > 4 else ''}}">
                      -
                    </span>
                  </div>
                  <p class="proficiency-text text-sm">Loading...</p>
                  <input
                    name="proficiency-value"
                    type="number"
                    value="{{skill.proficiency}}"
                    class="hidden"
                  />
                </td>
                <td>
                  <button
                    type="button"
                    class="p-2 delete-skill rounded-lg"
                    onclick="deleteSkillRow(this)"
                  >
                    <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <p class="header text-lg font-bold">Job Experience</p>
      <div id="work-wrapper" class="px-4 pb-4 space-y-4">
        <div id="experience-list" class="space-y-8">
          {% for experience in cv_data.job_experience %}
          <div class="flex gap-2">
            <div class="w-full space-y-2">
              <div class="relative w-full pt-2">
                <label
                  for="experience-title-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Title
                </label>
                <input
                  id="experience-title-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{experience.title}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="experience-company-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Company
                </label>
                <input
                  id="experience-company-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{experience.company_name}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="experience-duration-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Duration
                </label>
                <input
                  id="experience-duration-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{experience.time_period}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="experience-description-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Description
                </label>
                <!-- prettier-ignore -->
                <textarea
                  id="experience-description-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                >{{experience.description}}</textarea>
              </div>
            </div>

            <div
              id="list-index"
              class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
            >
              {{loop.index}}
            </div>
            <button
              type="button"
              id="delete-experience-1"
              class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
              onclick="deleteCvElement(event, 'experience-list')"
            >
              <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
            </button>
          </div>
          {% endfor %}
        </div>

        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-experience-btn"
            class="flex px-4 items-center justify-center border border-green-500 rounded-3xl p-2 bg-green gap-2 text-green-600"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-experience-x"
            class="invisible flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- Education -->
      <p class="header text-lg font-bold">Education</p>
      <div id="edu-wrapper" class="px-4 pb-4 space-y-4">
        <div id="edu-list" class="space-y-8">
          {% for education in cv_data.education %}
          <div class="flex gap-2">
            <div class="w-full space-y-2">
              <div class="relative w-full pt-2">
                <label
                  for="edu-title-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Title | Degree
                </label>
                <input
                  id="edu-title-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{education.degree}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="edu-company-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  School
                </label>
                <input
                  id="edu-company-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{education.school}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="edu-duration-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Duration
                </label>
                <input
                  id="edu-duration-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{education.time_period}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="edu-description-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Description
                </label>
                <!-- prettier-ignore -->
                <textarea
                  id="edu-description-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                >{{education.description}}</textarea>
              </div>
            </div>

            <div
              id="list-index"
              class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
            >
              {{loop.index}}
            </div>
            <button
              type="button"
              id="delete-edu-1"
              class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
              onclick="deleteCvElement(event, 'edu-list')"
            >
              <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
            </button>
          </div>
          {% endfor %}
        </div>

        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-education-btn"
            class="flex px-4 items-center justify-center border border-green-500 rounded-3xl p-2 bg-green gap-2 text-green-600"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-edu-x"
            class="invisible flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- New accordions here -->
    </div>
  </div>
</div>

<div
  class="bottom-actions w-full flex justify-center gap-2 px-6 border-default border-t-2 card dark:bg-(--bg-dialog-actions)"
>
  <div class="max-w-3xl w-full flex items-center">
    {{ ui.loading_button("edit-confirm-btn", "Save", "bg-green-600 text-white
    font-bold hover:bg-green-800 focus:ring-black-300 rounded-sm") }}
    <a
      href="/profile"
      type="button"
      class="py-3 px-4 rounded-sm focus:outline-none focus:ring-4 transition duration-200"
    >
      Back to Profile
    </a>
    <p id="edit-message"></p>
  </div>
</div>

{% call ui.modal("skill_edit_dialog", "Skill", "xs") %}
<div id="upload-body" class="min-w-xs p-4 md:p-6 space-y-4">
  <form id="skill_edit_form" method="dialog">
    <div class="flex flex-col gap-4 mb-4">
      <label for="skill_name">
        Name
        <input
          id="skill_name"
          name="name"
          value="SQL"
          class="w-full p-2 border border-[rgba(0,0,0,0.2)] rounded-sm"
        />
      </label>

      <label for="skill_proficiency">
        Proficiency
        <select
          id="skill_proficiency"
          name="proficiency"
          class="w-full cursor-pointer"
        >
          <option value="1">Less than a year</option>
          <option value="2">1-3 years</option>
          <option value="3">4-5 years</option>
          <option value="4">6-7 years</option>
          <option value="5">8+ years</option>
        </select>
      </label>

      <label for="is_highlighted" class="w-fit flex items-center gap-2">
        <input
          id="is_highlighted"
          name="is_highlight"
          type="checkbox"
          class="w-4 h-4"
        />
        Highlighted?
      </label>
    </div>

    <div class="flex gap-2 items-center">
      <button
        type="submit"
        class="rounded-lg contained success focus:outline-none focus:ring-4 transition duration-200"
      >
        Save
      </button>
      <button
        class="px-3 py-2 focus:outline-none focus:ring-4 transition duration-200"
        onclick="closeModal('skill_edit_dialog', event)"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
{% endcall %}

<script type="module">
  // Initialize Icons
  lucide.createIcons();

  let nextProfileIndex =
    document.getElementById("profile-list").children.length + 1;
  let nextExperienceIndex =
    document.getElementById("experience-list").children.length + 1;
  let nextEduIndex = document.getElementById("edu-list").children.length + 1;

  // Changed to whatever skill is being edited to know which one should be updated
  // Empty string represents a new skill being added
  let rowToEdit = null;

  function setProficiencyTexts(row_element) {
    const elements = row_element
      ? [row_element]
      : document.getElementsByClassName("skills-row");

    for (let el of elements) {
      const proficiency = el.getElementsByTagName("input")[0].value;
      let proficiencyText = "";

      switch (proficiency) {
        case "1":
          proficiencyText = "Less than a year";
          break;
        case "2":
          proficiencyText = "1-3 years";
          break;
        case "3":
          proficiencyText = "4-5 years";
          break;
        case "4":
          proficiencyText = "6-7 years";
          break;
        case "5":
          proficiencyText = "8+ years";
          break;
        default:
          proficiencyText = "Unknown";
          break;
      }

      const proficiencyTextEl =
        el.getElementsByClassName("proficiency-text")[0];
      proficiencyTextEl.innerText = proficiencyText;
    }
  }
  window.setProficiencyTexts = setProficiencyTexts;

  function deleteSkillRow(buttonEl) {
    // delete button -> table cell -> table row
    const row = buttonEl.parentElement.parentElement;
    const rowIndex = row.rowIndex;

    const skillsTable = document.getElementById("skills-table");
    skillsTable.deleteRow(rowIndex);
  }
  window.deleteSkillRow = deleteSkillRow;

  document.addEventListener("DOMContentLoaded", function () {
    setProficiencyTexts();
  });

  function openSkillEditDialog(event, rowEl) {
    event.preventDefault();

    const deleteButton = rowEl.getElementsByClassName("delete-skill")[0];

    // Do not open edit if delete button was clicked
    if (deleteButton.contains(event.target)) {
      return;
    }

    let skillName = "";
    let skillProficiency = 1;
    let isHighlighted = false;

    if (rowEl) {
      rowToEdit = rowEl;

      const nameEl = rowEl.getElementsByClassName("skill-name")[0];
      skillName = nameEl.innerText;

      const profEl = rowEl.getElementsByTagName("input")[0];
      skillProficiency = profEl.value;

      isHighlighted = rowEl.classList.contains("highlight");
    } else {
      rowToEdit = null;
    }

    const nameEl = document.getElementById("skill_name");
    nameEl.value = skillName;

    const proficiencySelector = document.getElementById("skill_proficiency");
    proficiencySelector.value = skillProficiency;

    const highlightToggle = document.getElementById("is_highlighted");
    if (isHighlighted) {
      highlightToggle.setAttribute("checked", "true");
    } else {
      highlightToggle.removeAttribute("checked");
    }

    window.openModal("skill_edit_dialog");
  }
  window.openSkillEditDialog = openSkillEditDialog;

  function validSkillName(skillName, ignoredRow) {
    const rows = document.getElementsByClassName("skills-row");

    for (let row of rows) {
      if (row == ignoredRow) continue;

      const nameEl = row.getElementsByClassName("skill-name")[0];
      if (nameEl.innerText.toLowerCase() == skillName.toLowerCase()) {
        return false;
      }
    }

    return true;
  }

  const skillEditForm = document.getElementById("skill_edit_form");
  skillEditForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const form = new FormData(skillEditForm);
    const formObj = Object.fromEntries(form);
    formObj["is_highlight"] = form.get("is_highlight") == "on" || false;

    if (rowToEdit) {
      if (!validSkillName(formObj["name"], rowToEdit)) {
        return;
      }

      const skillRow = rowToEdit;

      const nameCell = skillRow.getElementsByClassName("skill-name")[0];
      nameCell.innerText = formObj["name"];

      const proficiencyContainer =
        skillRow.getElementsByClassName("proficiency")[0];
      proficiencyContainer.innerHTML = html`
        <span class="active">-</span>
        <span class="${formObj["proficiency"] > 1 ? "active" : ""}">-</span>
        <span class="${formObj["proficiency"] > 2 ? "active" : ""}">-</span>
        <span class="${formObj["proficiency"] > 3 ? "active" : ""}">-</span>
        <span class="${formObj["proficiency"] > 4 ? "active" : ""}">-</span>
      `;
      skillRow.getElementsByTagName("input")[0].value = formObj["proficiency"];

      formObj["is_highlight"]
        ? skillRow.classList.add("highlight")
        : skillRow.classList.remove("highlight");

      setProficiencyTexts(skillRow);
    } else {
      if (!validSkillName(formObj["name"])) {
        return;
      }

      const skillsTable = document.getElementById("skills-table");

      const newRow = skillsTable.insertRow();
      newRow.classList.add("skills-row", "items-center");
      if (formObj["is_highlight"]) {
        newRow.classList.add("highlight");
      }
      newRow.setAttribute("onclick", "openSkillEditDialog(event, this)");

      const highlightCell = newRow.insertCell();
      highlightCell.innerHTML = html`<i
        data-lucide="star"
        class="w-5 h-5"
      ></i>`;

      const nameCell = newRow.insertCell();
      nameCell.classList.add("skill-name");
      nameCell.innerText = formObj["name"];

      const profCell = newRow.insertCell();
      profCell.classList.add(
        "flex",
        "flex-col",
        "items-center",
        "w-fit",
        "text-center",
      );
      profCell.innerHTML = html`
        <div class="proficiency my-[-10px] text-4xl tracking-tighter">
          <span class="active">-</span>
          <span class="${formObj["proficiency"] > 1 ? "active" : ""}">-</span>
          <span class="${formObj["proficiency"] > 2 ? "active" : ""}">-</span>
          <span class="${formObj["proficiency"] > 3 ? "active" : ""}">-</span>
          <span class="${formObj["proficiency"] > 4 ? "active" : ""}">-</span>
        </div>
        <p class="proficiency-text text-sm">Loading...</p>
        <input
          name="proficiency-value"
          type="number"
          value="${formObj["proficiency"]}"
          class="hidden"
        />
      `;

      const deleteBtnCell = newRow.insertCell();
      deleteBtnCell.innerHTML = html`
        <button
          type="button"
          class="p-2 delete-skill rounded-lg"
          onclick="deleteSkillRow(this)"
        >
          <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
        </button>
      `;

      setProficiencyTexts(newRow);
      lucide.createIcons();
    }
    window.closeModal("skill_edit_dialog");
  });

  document.getElementById("add-profile-btn").addEventListener("click", (e) => {
    e.preventDefault();

    const newParagraph = document.createElement("div");
    newParagraph.id = `container-profile-${nextProfileIndex}`;
    newParagraph.classList.add("flex", "gap-2");
    newParagraph.innerHTML = html`
      <textarea
        id="profile-${nextProfileIndex}"
        class="border border-[rgba(0,0,0,0.2)] rounded-sm p-4 w-full min-w-100"
      ></textarea>

      <div
        id="list-index"
        class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
      >
        ${document.getElementById("profile-list").children.length + 1}
      </div>
      <button
        type="button"
        id="delete-experience-${nextProfileIndex}"
        class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
        onclick="deleteCvElement(event, 'profile-list')"
      >
        <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
      </button>
    `;
    document.getElementById("profile-list").appendChild(newParagraph);
    nextProfileIndex += 1;

    // Initialize new icon
    lucide.createIcons();
  });

  function deleteCvElement(e, listId) {
    e.preventDefault();

    e.currentTarget.parentElement.remove();

    if (listId) {
      const wrapper = document.getElementById(listId);
      for (let i = 0; i < wrapper.children.length; i++) {
        const el = wrapper.children[i];
        el.children.namedItem("list-index").textContent = i + 1;
      }
    }
  }
  window.deleteCvElement = deleteCvElement;

  const addExperienceButton = document.getElementById("add-experience-btn");
  addExperienceButton.addEventListener("click", (e) => {
    e.preventDefault();

    const experienceEl = document.createElement("div");
    experienceEl.classList.add("flex", "gap-2");

    experienceEl.innerHTML = html`
      <div class="w-full space-y-2">
        <div class="relative w-full pt-2">
          <label
            for="experience-title-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Title
          </label>
          <input
            id="experience-title-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="experience-company-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Company
          </label>
          <input
            id="experience-company-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="experience-duration-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Duration
          </label>
          <input
            id="experience-duration-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="experience-description-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Description
          </label>
          <textarea
            id="experience-description-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          ></textarea>
        </div>
      </div>

      <div
        id="list-index"
        class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
      >
        ${document.getElementById("experience-list").children.length + 1}
      </div>
      <button
        type="button"
        id="delete-experience-${nextExperienceIndex}"
        class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
        onclick="deleteCvElement(event, 'experience-list')"
      >
        <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
      </button>
    `;

    document.getElementById("experience-list").appendChild(experienceEl);
    nextExperienceIndex += 1;
    lucide.createIcons();
  });

  const addEducationButton = document.getElementById("add-education-btn");
  addEducationButton.addEventListener("click", (e) => {
    e.preventDefault();

    const eduEl = document.createElement("div");
    eduEl.classList.add("flex", "gap-2");

    eduEl.innerHTML = html`
      <div class="w-full space-y-2">
        <div class="relative w-full pt-2">
          <label
            for="edu-title-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Title | Degree
          </label>
          <input
            id="edu-title-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="edu-company-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            School
          </label>
          <input
            id="edu-company-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="edu-duration-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Duration
          </label>
          <input
            id="edu-duration-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="edu-description-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Description
          </label>
          <!-- prettier-ignore -->
          <textarea
            id="edu-description-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          ></textarea>
        </div>
      </div>

      <div
        id="list-index"
        class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
      >
        ${document.getElementById("edu-list").children.length + 1}
      </div>
      <button
        type="button"
        id="delete-edu-${nextEduIndex}"
        class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
        onclick="deleteCvElement(event, 'edu-list')"
      >
        <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
      </button>
    `;

    document.getElementById("edu-list").appendChild(eduEl);
    nextEduIndex += 1;
    lucide.createIcons();
  });

  const confirmButton = document.getElementById("edit-confirm-btn");
  confirmButton.addEventListener("click", async (e) => {
    e.preventDefault();

    // Loading state
    confirmButton.classList.add("loading");
    confirmButton.setAttribute("disabled", "");

    const jsonData = {};

    // Basic info
    jsonData.name = document.getElementById("info_name")?.value || "";
    jsonData.title = document.getElementById("info_title")?.value || "";

    // Profiles
    const profileList = document.getElementById("profile-list");
    jsonData.profile_texts = [];
    for (const child of profileList.children) {
      const value = child.getElementsByTagName("textarea")[0].value;
      jsonData.profile_texts.push(value);
    }

    // Skills
    const skillRows = document.getElementsByClassName("skills-row");
    jsonData.skills = [];
    for (const row of skillRows) {
      const skillName = row.getElementsByClassName("skill-name")[0].innerText;
      const skillProf = row.getElementsByTagName("input")[0].value;
      const skillhighlight = row.classList.contains("highlight");

      jsonData.skills.push({
        name: skillName,
        proficiency: skillProf,
        is_highlight: skillhighlight,
      });
    }

    // Work Experience
    const experienceList = document.getElementById("experience-list");
    jsonData.job_experience = [];
    for (const child of experienceList.children) {
      const experienceJson = {};

      const inputs = child.getElementsByTagName("input");
      experienceJson.title = inputs[0].value;
      experienceJson.company_name = inputs[1].value;
      experienceJson.time_period = inputs[2].value;
      experienceJson.description =
        child.getElementsByTagName("textarea")[0].value;

      jsonData.job_experience.push(experienceJson);
    }

    // Education
    const educationList = document.getElementById("edu-list");
    jsonData.education = [];
    for (const child of educationList.children) {
      const eduJson = {};

      const inputs = child.getElementsByTagName("input");
      eduJson.degree = inputs[0].value;
      eduJson.school = inputs[1].value;
      eduJson.time_period = inputs[2].value;
      eduJson.description = child.getElementsByTagName("textarea")[0].value;

      jsonData.education.push(eduJson);
    }

    // Hide and prepare message
    const editMessage = document.getElementById("edit-message");
    editMessage.setAttribute("class", "hidden text-sm");

    const cv_id = document.getElementById("cv_id").getAttribute("data-other");

    try {
      const formData = new FormData();
      formData.append("cv_json", JSON.stringify(jsonData));

      const response = await fetch(`/api/cv/${cv_id}`, {
        method: "PATCH",
        body: formData,
      });

      const result = await response.json();

      editMessage.classList.remove("hidden");
      if (response.ok && result.success) {
        editMessage.classList.add("text-green-700");
        editMessage.textContent = "Done! Reloading page...";
        window.location.reload();
      } else {
        // Handle backend error
        editMessage.classList.add("text-red-700");
        editMessage.textContent = `Error: ${result.error}`;
      }
    } catch (error) {
      // Handle network or fetch error
      console.error("Upload Error:", error);
      editMessage.classList.add("text-red-700");
      editMessage.textContent = error;
    } finally {
      // End loading state
      confirmButton.classList.remove("loading");
      confirmButton.removeAttribute("disabled");
    }
  });
</script>
{% endblock %}
