<!doctype html>
{% extends 'base.html' %}

<!---->
{% block content %}
<style>
  p.page-title {
    border-top: 1px solid var(--color-slate-300);
    border-bottom: 1px solid var(--color-slate-300);
    font-size: x-large;
  }

  label.absolute {
    background-color: var(--bg-dialog);
    &:where(.dark, .dark *) {
      background-color: var(--bg-dialog-actions);
    }
  }
  input,
  textarea,
  select {
    background-color: var(--bg-dialog-actions);
  }

  div.list-index {
    background-color: var(--bg-dialog-actions);
    display: flex;
    height: inherit;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: var(--radius-xl);
    padding-inline: calc(var(--spacing) * 1);
    text-align: center;
    align-items: center;
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    &:where(.dark, .dark *) {
      border-color: var(--color-slate-300);
    }
  }
  button.delete-index {
    display: flex;
    height: inherit;
    border: 1px solid var(--color-red-500);
    border-radius: var(--radius-xl);
    padding-inline: calc(var(--spacing) * 1);
    text-align: center;
    align-items: center;
    color: var(--color-red-500);
    &:where(.dark, .dark *) {
      color: var(--color-white);
      background-color: var(--color-red-800);
      border-color: var(--color-red-800);
    }
  }

  textarea {
    field-sizing: content;
  }

  .bottom-actions {
    position: fixed;
    top: calc(100vh - 100px);
    height: 100px;
    &:where(.dark, .dark *) {
      background-color: black;
      box-shadow: none;
    }
  }

  div.skill-list {
    &:where(.dark, .dark *) {
      background-color: var(--bg-dialog-actions);
      border-radius: var(--radius-sm);
      border: 1px solid var(--color-slate-300);
    }
  }
  .skills-row {
    cursor: pointer;
    border-radius: 5px;
  }
  .skills-row:hover {
    background-color: #0011ff1a;
  }
  button.delete-skill {
    cursor: pointer;
    border: 0.5px solid #00000000;
  }
  button.delete-skill:hover {
    border: 0.5px solid #000000;
  }
  div.proficiency span {
    color: var(--color-sky-200);
    &:where(.dark, .dark *) {
      color: var(--color-fuchsia-100);
    }
  }
  div.proficiency span.active {
    color: var(--color-sky-700);
    &:where(.dark, .dark *) {
      color: var(--color-fuchsia-700);
    }
  }
  tr.highlight svg.lucide-star {
    fill: var(--color-amber-300);
  }

  .skill-table tbody tr:not(:last-child) {
    border-bottom: 1px solid #0000002a;
  }
  .skill-table th,
  .skill-table td {
    padding: 5px 20px;
  }

  button.add-btn {
    display: flex;
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-success);
    color: var(--color-success);
    border-radius: var(--radius-3xl);
    &:where(.dark, .dark *) {
      background-color: var(--color-success);
      color: var(--color-white);
    }
  }
  button.add-btn:hover {
    border-color: var(--color-success-hover);
    color: var(--color-success-hover);
    &:where(.dark, .dark *) {
      background-color: var(--color-success-hover);
      color: var(--color-white);
    }
  }

  button.save-cv-btn {
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 4);
  }
</style>

<meta id="owner_id" data-other="{{owner_id}}" />
<meta id="cv_id" data-other="{{cv_id}}" />
<meta id="return_link" data-other="{{return_link}}" />

<div
  class="cv-edit-container w-full max-w-3xl overflow-hidden flex relative mb-[100px] rounded-xs"
>
  <div class="size-full">
    <div class="p-6 space-y-4">
      <p class="page-title text-xl font-bold w-full text-center">
        {{"Edit CV" if cv_id != "" else "Create CV"}}
      </p>

      <!-- Basic Info -->
      {% if not is_source_cv %}
      <p class="header text-lg font-bold">Basic Info</p>
      <div id="info-wrapper" class="px-4 pb-4 space-y-4">
        <div class="relative w-full pt-2">
          <label
            for="info_name"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Name
          </label>
          <input
            id="info_name"
            name="name"
            type="text"
            class="p-2 px-4 border border-[rgba(0,0,0,0.2)] rounded-sm w-full max-w-[300px]"
            value="{{cv_data.name}}"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="info_title"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Title
          </label>
          <input
            id="info_title"
            type="text"
            class="p-2 px-4 border border-[rgba(0,0,0,0.2)] rounded-sm w-full max-w-[300px]"
            value="{{cv_data.title}}"
          />
        </div>

        <div class="relative pt-2">
          <label
            for="contact-selector"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Wirokit Contact
          </label>
          <select
            name="contact"
            id="contact-selector"
            class="w-full max-w-[300px] rounded-sm"
          >
            {% for contact in contact_list %} {% if contact.id ==
            current_handler_id %}
            <option value="{{contact.id}}" selected>
              {{contact.full_name}}
            </option>
            {% else %}
            <option value="{{contact.id}}">{{contact.full_name}}</option>
            {% endif %} {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}

      <!-- Profile edit -->
      <p class="header text-lg font-bold">Profile Texts</p>
      <div id="profile-wrapper" class="px-4 pb-4 space-y-4">
        <div id="profile-list" class="space-y-4">
          <template id="profile-template">{{ ui.cv_profile() }}</template>
          {% for profile in cv_data.profile_texts %}
          <!---->
          {{ ui.cv_profile(loop.index, profile) }}
          <!---->
          {% endfor %}
        </div>
        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-profile-btn"
            class="add-btn gap-2"
            onclick="addCvRow('profile-list')"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-experience-1"
            class="invisible delete-index"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- Skills edit -->
      <p class="header text-lg font-bold">Skills</p>
      <div id="skills-wrapper" class="px-4 pb-4 space-y-4">
        {% if not is_source_cv %}
        <div class="flex flex-col gap-2">
          <p>Display skill proficiency in CV?</p>
          {{ ui.styled_checkbox("skill-level-checkbox",
          cv_data.show_skill_levels) }}
        </div>
        {% endif %}

        <div
          id="skill-list"
          class="skill-list border border-default rounded-xs p-2 {{'hidden' if not cv_data.skills else ''}}"
        >
          <table id="skills-table" class="skill-table w-full table-auto">
            <thead>
              <tr id="skill-table-header">
                {% if not is_source_cv %}
                <th>HL?</th>
                {% endif %}
                <th class="w-full text-start">Name</th>
                <th class="proficiency-cell">Proficiency</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="skill-table-body">
              <template id="skill-template">
                {{ ui.cv_skill_row(is_source_cv) }}
              </template>
              {% for skill in cv_data.skills %}
              <!---->
              {{ ui.cv_skill_row(is_source_cv, loop.index, skill) }}
              <!---->
              {% endfor %}
            </tbody>
          </table>
        </div>

        <button
          type="button"
          class="add-btn gap-2"
          onclick="openSkillEditDialog(event, '', '', '')"
        >
          <i data-lucide="plus" class="w-5 h-5"></i>
          <span>ADD</span>
        </button>
      </div>

      <p class="header text-lg font-bold">Work Experience</p>
      <div id="work-wrapper" class="px-4 pb-4 space-y-4">
        <div id="experience-list" class="space-y-8">
          <!-- The template for experience elements -->
          <template id="cv-experience-template">
            {{ ui.cv_experience() }}
          </template>

          {% for experience in cv_data.job_experience %}
          <!---->
          {{ ui.cv_experience(loop.index, experience) }}
          <!---->
          {% endfor %}
        </div>

        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-experience-btn"
            class="add-btn gap-2"
            onclick="addCvRow('experience-list')"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-experience-x"
            class="invisible delete-index"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- Education -->
      <p class="header text-lg font-bold">Education</p>
      <div id="edu-wrapper" class="px-4 pb-4 space-y-4">
        <div id="edu-list" class="space-y-8">
          <template id="cv-education-template">
            {{ ui.cv_education() }}
          </template>

          {% for education in cv_data.education %}
          <!---->
          {{ ui.cv_education(loop.index, education) }}
          <!---->
          {% endfor %}
        </div>

        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-education-btn"
            class="add-btn gap-2"
            onclick="addCvRow('edu-list')"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-edu-x"
            class="invisible delete-index"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="w-5 h-5"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="bottom-actions w-full flex justify-center gap-2 px-6 border-default border-t-2 card"
>
  <div class="max-w-3xl w-full flex items-center gap-2">
    {{ ui.loading_button("edit-confirm-btn", "Save", "save-cv-btn contained
    success rounded-sm") }}
    <a
      href="{{return_link}}"
      type="button"
      class="py-3 px-4 rounded-sm focus:outline-none focus:ring-4 transition duration-200"
    >
      {{ "Back to profile" if "profile" in return_link else "Back to CV"}}
    </a>
    <p id="edit-message"></p>
  </div>
</div>

{% call ui.modal("skill_edit_dialog", "Skill", "xs") %}
<div
  id="skill_edit_dialog"
  class="skill-edit-container min-w-xs p-4 md:p-6 space-y-4"
>
  <form id="skill_edit_form" method="dialog">
    <div class="flex flex-col gap-4 mb-6">
      <div class="relative w-full pt-2">
        <label
          for="skill_name"
          class="absolute top-0 left-1 px-1 text-xs font-semibold"
        >
          Name
        </label>
        <input
          required
          id="skill_name"
          name="name"
          class="w-full p-2 border border-[rgba(0,0,0,0.2)] rounded-sm"
        />
      </div>

      <div class="relative w-full pt-2">
        <label
          for="skill_proficiency"
          class="absolute top-0 left-1 px-1 text-xs font-semibold"
        >
          Proficiency
        </label>
        <select
          id="skill_proficiency"
          name="proficiency"
          class="w-full cursor-pointer"
        >
          <option value="1">Less than a year</option>
          <option value="2">1-3 years</option>
          <option value="3">4-5 years</option>
          <option value="4">6-7 years</option>
          <option value="5">8+ years</option>
        </select>
      </div>

      {% if not is_source_cv %}
      <label for="is_highlighted" class="w-fit flex items-center gap-2">
        <input
          id="is_highlighted"
          name="is_highlight"
          type="checkbox"
          class="w-4 h-4"
        />
        Highlighted?
      </label>
      {% endif %}
    </div>

    <div class="flex gap-2 items-center">
      <button type="submit" class="contained success transition duration-200">
        Save
      </button>
      <button
        class="px-3 py-2 rounded-sm focus:outline-none focus:ring-4 transition duration-200"
        onclick="closeModal('skill_edit_dialog', event)"
      >
        Close
      </button>
    </div>
  </form>
</div>
{% endcall %}

<script type="module">
  // Initialize Icons
  lucide.createIcons();

  // Changed to whatever skill is being edited to know which one should be updated
  // Empty string represents a new skill being added
  let rowToEdit = null;

  // Date input handlers
  document.addEventListener("input", function (event) {
    if (event.target.classList.contains("month-input")) {
      event.target.value = event.target.value.replace(/\D/g, "");
      if (event.target.value.length > 2) {
        event.target.value = event.target.value.slice(0, 2);
      }
    }

    if (event.target.classList.contains("year-input")) {
      event.target.value = event.target.value.replace(/\D/g, "");
      if (event.target.value.length > 4) {
        event.target.value = event.target.value.slice(0, 4);
      }
    }
  });

  // Date change handlers
  document.addEventListener("change", function (event) {
    if (event.target.classList.contains("month-input")) {
      // Zero-pad the month
      if (event.target.value.length === 1) {
        event.target.value = event.target.value.padStart(2, "0");
      }
      // Set to 12 if above it
      if (event.target.value > 12) {
        event.target.value = 12;
      }
    }

    if (event.target.classList.contains("year-input")) {
      // Zero-pad the year
      if (event.target.value.length > 0 && event.target.value.length < 4) {
        event.target.value = event.target.value.padStart(4, "0");
      }
    }
  });

  function setProficiencyTexts(row_element) {
    const elements = row_element
      ? [row_element]
      : document.getElementsByClassName("skills-row");

    for (let el of elements) {
      const proficiency = el.getElementsByTagName("input")[0].value;
      let proficiencyText = "";

      switch (proficiency) {
        case "1":
          proficiencyText = "Less than a year";
          break;
        case "2":
          proficiencyText = "1-3 years";
          break;
        case "3":
          proficiencyText = "4-5 years";
          break;
        case "4":
          proficiencyText = "6-7 years";
          break;
        case "5":
          proficiencyText = "8+ years";
          break;
        default:
          proficiencyText = "Unknown";
          break;
      }

      const proficiencyTextEl =
        el.getElementsByClassName("proficiency-text")[0];
      proficiencyTextEl.innerText = proficiencyText;
    }
  }
  window.setProficiencyTexts = setProficiencyTexts;

  function deleteSkillRow(buttonEl) {
    // delete button -> table cell -> table row
    const row = buttonEl.parentElement.parentElement;
    const rowIndex = row.rowIndex + 1;

    const skillsTable = document.getElementById("skills-table");
    skillsTable.deleteRow(rowIndex);

    if (skillsTable.rows.length == 1) {
      document.getElementById("skill-list").classList.add("hidden");
    }
  }
  window.deleteSkillRow = deleteSkillRow;

  document.addEventListener("DOMContentLoaded", function () {
    setProficiencyTexts();
  });

  function openSkillEditDialog(event, rowEl) {
    event.preventDefault();

    if (rowEl) {
      const deleteButton = rowEl.getElementsByClassName("delete-skill")[0];

      // Do not open edit if delete button was clicked
      if (deleteButton.contains(event.target)) {
        return;
      }
    }

    let skillName = "";
    let skillProficiency = 1;
    let isHighlighted = false;

    if (rowEl) {
      rowToEdit = rowEl;

      const nameEl = rowEl.getElementsByClassName("skill-name")[0];
      skillName = nameEl.innerText;

      const profEl = rowEl.getElementsByTagName("input")[0];
      skillProficiency = profEl.value;

      isHighlighted = rowEl.classList.contains("highlight");
    } else {
      rowToEdit = null;
    }

    const nameEl = document.getElementById("skill_name");
    nameEl.value = skillName;

    const proficiencySelector = document.getElementById("skill_proficiency");
    proficiencySelector.value = skillProficiency;

    const highlightToggle = document.getElementById("is_highlighted");
    if (highlightToggle && isHighlighted) {
      highlightToggle.setAttribute("checked", "true");
    } else if (highlightToggle) {
      highlightToggle.removeAttribute("checked");
    }

    window.openModal("skill_edit_dialog");
  }
  window.openSkillEditDialog = openSkillEditDialog;

  function validSkillName(skillName, ignoredRow) {
    const rows = document.getElementsByClassName("skills-row");

    for (let row of rows) {
      if (row == ignoredRow) continue;

      const nameEl = row.getElementsByClassName("skill-name")[0];
      if (nameEl.innerText.toLowerCase() == skillName.toLowerCase()) {
        return false;
      }
    }

    return true;
  }

  const skillEditForm = document.getElementById("skill_edit_form");
  skillEditForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const form = new FormData(skillEditForm);
    const formObj = Object.fromEntries(form);
    formObj["is_highlight"] = form.get("is_highlight") == "on" || false;

    let clone;
    let skillRow;

    if (rowToEdit) {
      if (!validSkillName(formObj["name"], rowToEdit)) {
        return;
      }

      skillRow = rowToEdit;
    } else {
      if (!validSkillName(formObj["name"])) {
        return;
      }

      const skillsTable = document.getElementById("skills-table");

      const template = skillsTable.querySelector("template");
      clone = template.content.cloneNode(true);

      skillRow = clone.firstElementChild;
    }

    const nameCell = skillRow.querySelector("td.skill-name");
    nameCell.textContent = formObj["name"];

    const proficiencyContainer = skillRow.querySelector("div.proficiency");
    const profMarkers = proficiencyContainer.children;
    for (let x = 0; x < profMarkers.length; x++) {
      if (x == 0 || formObj["proficiency"] > x) {
        profMarkers[x].classList.add("active");
      }
    }
    skillRow.querySelector("input.proficiency-value").value =
      formObj["proficiency"];

    formObj["is_highlight"]
      ? skillRow.classList.add("highlight")
      : skillRow.classList.remove("highlight");

    if (clone) {
      const skillsTableBody = document.getElementById("skill-table-body");
      skillsTableBody.appendChild(clone);

      const dialog = document.getElementById("skill_edit_dialog");
      const formNode = dialog.querySelector("form");
      formNode.reset();
    } else {
      window.closeModal("skill_edit_dialog");
    }

    setProficiencyTexts(skillRow);
  });

  function deleteCvElement(e, listId) {
    e.preventDefault();

    e.currentTarget.parentElement.remove();

    if (listId) {
      const wrapper = document.getElementById(listId);
      for (let i = 0; i < wrapper.children.length; i++) {
        const el = wrapper.children[i];
        if (el.tagName == "TEMPLATE") continue;
        el.querySelector("div.list-index").textContent = i;
      }
    }
  }
  window.deleteCvElement = deleteCvElement;

  function addCvRow(listId) {
    const listEl = document.getElementById(listId);
    const nextRowIndex = listEl.children.length;

    const template = listEl.querySelector("template");
    const clone = template.content.cloneNode(true);

    // Select ANY element in the clone that has an id or for attribute
    const elementsToUpdate = clone.querySelectorAll("[id], [for]");

    elementsToUpdate.forEach((element) => {
      if (element.id) {
        element.id = element.id.replace("#TEMP", nextRowIndex);
      }
      if (element.hasAttribute("for")) {
        element.setAttribute(
          "for",
          element.getAttribute("for").replace("#TEMP", nextRowIndex),
        );
      }
    });

    const listIndex = clone.querySelector("div.list-index");
    if (listIndex) {
      listIndex.textContent = nextRowIndex;
    }

    listEl.appendChild(clone);
    lucide.createIcons();
  }
  window.addCvRow = addCvRow;

  const confirmButton = document.getElementById("edit-confirm-btn");
  confirmButton.addEventListener("click", async (e) => {
    e.preventDefault();

    // Loading state
    confirmButton.classList.add("loading");
    confirmButton.setAttribute("disabled", "");

    const jsonData = {};

    // Basic info
    jsonData.name = document.getElementById("info_name")?.value || "";
    jsonData.title = document.getElementById("info_title")?.value || "";

    // Profiles
    const profileList = document.querySelectorAll("textarea.profile-input");
    jsonData.profile_texts = [];
    for (const profile of profileList) {
      jsonData.profile_texts.push(profile.value);
    }

    // Skills
    // IF NOT editing source CV, ignore skill level display setting
    const returnLink = document
      .getElementById("return_link")
      .getAttribute("data-other");
    if (!returnLink.includes("/profile")) {
      const skillLevelInput = document.getElementById(
        "skill-level-checkbox-input",
      );
      jsonData.show_skill_levels = skillLevelInput.checked;
    }

    const skillRows = document.querySelectorAll("tr.skills-row");
    jsonData.skills = [];
    for (const row of skillRows) {
      const skillName = row.querySelector("td.skill-name").innerText;
      const skillProf = row.querySelector("input").value;
      const skillhighlight = row.classList.contains("highlight");

      jsonData.skills.push({
        name: skillName,
        proficiency: skillProf,
        is_highlight: skillhighlight,
      });
    }

    // Work Experience
    const experienceList = document.querySelectorAll("div.exp-container");
    jsonData.job_experience = [];
    for (const exp of experienceList) {
      const experienceJson = {};

      experienceJson.title = exp.querySelector("input.exp-title").value;
      experienceJson.company_name =
        exp.querySelector("input.exp-company").value;
      experienceJson.description = exp.querySelector(
        "textarea.exp-description",
      ).value;

      // Date range
      const startDate = exp.querySelector("div.exp-start-date");
      const startMonth = startDate.querySelector("input.month-input");
      const startYear = startDate.querySelector("input.year-input");
      const endDate = exp.querySelector("div.exp-end-date");
      const endMonth = endDate.querySelector("input.month-input");
      const endYear = endDate.querySelector("input.year-input");

      if (startMonth.value && startYear.value) {
        const startDate = new Date(
          Date.UTC(startYear.value, startMonth.value - 1, 1),
        );
        experienceJson.start_date = startDate.toISOString();
      }

      if (endMonth.value && endYear.value) {
        const endDate = new Date(Date.UTC(endYear.value, endMonth.value, 0));
        experienceJson.end_date = endDate.toISOString();
      }

      jsonData.job_experience.push(experienceJson);
    }

    // Education
    const educationList = document.querySelectorAll("div.edu-container");
    jsonData.education = [];
    for (const edu of educationList) {
      const eduJson = {};

      eduJson.degree = edu.querySelector("input.edu-degree").value;
      eduJson.school = edu.querySelector("input.edu-school").value;
      eduJson.description = edu.querySelector("textarea.edu-description").value;

      // Date range
      const startDate = edu.querySelector("div.edu-start-date");
      const startMonth = startDate.querySelector("input.month-input");
      const startYear = startDate.querySelector("input.year-input");
      const endDate = edu.querySelector("div.edu-end-date");
      const endMonth = endDate.querySelector("input.month-input");
      const endYear = endDate.querySelector("input.year-input");

      if (startMonth.value && startYear.value) {
        const startDate = new Date(
          Date.UTC(startYear.value, startMonth.value - 1, 1),
        );
        eduJson.start_date = startDate.toISOString();
      }

      if (endMonth.value && endYear.value) {
        const endDate = new Date(Date.UTC(endYear.value, endMonth.value, 0));
        eduJson.end_date = endDate.toISOString();
      }

      jsonData.education.push(eduJson);
    }

    // Hide and prepare message
    const editMessage = document.getElementById("edit-message");
    editMessage.setAttribute("class", "hidden text-sm");

    try {
      const formData = new FormData();
      formData.append("cv_json", JSON.stringify(jsonData));

      let response = {
        ok: false,
      };
      let result = {
        success: false,
      };

      const cv_id = document.getElementById("cv_id").getAttribute("data-other");
      if (cv_id != "") {
        const contactId =
          document.getElementById("contact-selector")?.value || "";
        formData.append("contact_id", contactId);

        response = await fetch(`/api/cv/${cv_id}`, {
          method: "PATCH",
          body: formData,
        });

        result = await response.json();
      } else {
        const owner_id = document
          .getElementById("owner_id")
          .getAttribute("data-other");

        response = await fetch(`/api/custom-source/${owner_id}`, {
          method: "POST",
          body: formData,
        });

        result = await response.json();
      }

      editMessage.classList.remove("hidden");
      if (response.ok && result.success) {
        editMessage.classList.add("text-green-700");
        editMessage.textContent = "Done! Redirecting...";

        const returnLink = document
          .getElementById("return_link")
          .getAttribute("data-other");
        window.location.href = returnLink;
      } else {
        // Handle backend error
        editMessage.classList.add("text-red-700");
        editMessage.textContent = `Error: ${result.error}`;
      }
    } catch (error) {
      // Handle network or fetch error
      console.error("Upload Error:", error);
      editMessage.classList.add("text-red-700");
      editMessage.textContent = error;
    } finally {
      // End loading state
      confirmButton.classList.remove("loading");
      confirmButton.removeAttribute("disabled");
    }
  });
</script>
{% endblock %}
