<!doctype html>
{% extends 'base.html' %}

<!-- Main Container -->
{% block content %}
<style>
  section {
    &:not(.dark, .dark *) {
      background: #f0f0ff;
      background: linear-gradient(
        180deg,
        rgba(240, 240, 255, 1) 0%,
        rgba(237, 237, 255, 1) 5%,
        rgba(227, 227, 255, 1) 17%,
        rgba(222, 222, 255, 1) 32%
      );
    }
  }
</style>

<img
  class="fixed top-[15%] right-[-10%] w-[50%] z-[1]"
  src="{{url_for('static',filename='images/w-bg.png')}}"
/>

<div class="w-full profile-list px-4 max-w-screen-xl space-y-4 z-[2]">
  <div>
    <p class="text-xl mb-2">Me</p>

    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 w-full"
    >
      <a
        id="me-container"
        href="/profile"
        class="card action p-4 flex flex-col items-center gap-4 w-full"
      >
        <div class="hand-written text-xs uppercase">
          {{ my_profile["user_type_name"] }}
        </div>
        <span
          class="color-icon flex items-center justify-center text-center w-[80px] h-[80px] text-white rounded-[90px] text-3xl"
        >
          {{ my_profile["full_name"][0] }}
        </span>
        <div class="text-center">
          <p>{{my_profile["full_name"]}}</p>
          <div class="text-sm opacity-[0.8]">
            <p>{{my_profile.get("title", "")}}</p>
            <p>{{my_profile.get("office", "")}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  {% if session["user_type"] == "admin" %}
  <div>
    <p class="text-xl mb-2">External Talent</p>

    <div
      id="external-list"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 w-full text-center"
    >
      <a
        href="/new-external"
        id="add-external-link"
        class="card card-green p-4 flex flex-col items-center justify-center gap-4 w-full min-h-[226px]"
      >
        <div class="text-xl">Add External</div>
        <span
          class="flex items-center justify-center text-center w-[80px] h-[80px] dark:text-white rounded-[90px] text-3xl"
        >
          <i data-lucide="plus" class="w-10 h-10"></i>
        </span>
      </a>

      {% for user in external_users %}
      <a
        href="/profile/{{user['id']}}"
        class="card action p-4 flex flex-col items-center gap-4 w-full"
      >
        <div class="hand-written text-xs uppercase">
          {{ user["user_type_name"] }}
        </div>
        <span
          class="color-icon flex items-center justify-center text-center w-[80px] h-[80px] text-white rounded-[90px] text-3xl"
        >
          {{ user["full_name"][0] }}
        </span>
        <div class="text-center">
          <p>{{user["full_name"]}}</p>
          <div class="text-sm opacity-[0.8]">
            <p>{{user.get("title", "")}}</p>
            <p>{{user.get("office", "")}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div>
    <p class="text-xl mb-2">Team Wirokit</p>

    <div
      id="team-list"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 w-full"
    >
      {% if session["user_type"] == "admin" %}
      <a
        href="/new-user"
        class="card card-green p-4 flex flex-col items-center justify-center gap-4 w-full min-h-[226px]"
      >
        <div class="text-xl">Add User</div>
        <span
          class="flex items-center justify-center text-center w-[80px] h-[80px] dark:text-white rounded-[90px] text-3xl"
        >
          <i data-lucide="plus" class="w-10 h-10"></i>
        </span>
      </a>
      {% endif %}

      <!---->
      {% for user in internal_users %}
      <a
        href="/profile/{{user['id']}}"
        class="card action p-4 flex flex-col items-center gap-4 w-full"
      >
        <div class="hand-written text-xs uppercase">
          {{ user["user_type_name"] }}
        </div>
        <span
          class="color-icon flex items-center justify-center text-center w-[80px] h-[80px] text-white rounded-[90px] text-3xl"
        >
          {{ user["full_name"][0] }}
        </span>
        <div class="text-center">
          <p>{{user["full_name"]}}</p>
          <div class="text-sm opacity-[0.8]">
            <p>{{user.get("title", "")}}</p>
            <p>{{user.get("office", "")}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  // Initialize Icons
  lucide.createIcons();

  (() => {
    const icons = document.getElementsByClassName("color-icon");

    let i = 1;
    for (icon of icons) {
      icon.classList.add(`profile-icon-${i}`);
      i++;

      if (i > 8) i = 1;
    }
  })();
</script>
{% endblock %}
