<!doctype html>
{% extends 'base.html' %}

<!-- Main Container -->
{% block content %}
<style>
  body.modal-open {
    overflow: hidden;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
  }
  .header-row {
    position: sticky;
    top: 0;
  }
  td,
  th {
    border: 1px solid #ffffff1a;
    text-align: left;
    padding: 0;
  }
  td > *,
  th > * {
    display: inline-block;
    width: 100%;
    padding: 8px;
  }
  tr.header-row {
    background-color: #46688a !important;
    color: var(--color-white);
    &:where(.dark, .dark *) {
      background-color: #15151b !important;
    }
  }
  tr:nth-child(odd) {
    background-color: white;
    &:where(.dark, .dark *) {
      background-color: #1d1e25;
    }
  }
  tr:nth-child(even) {
    background-color: #dadada;
    &:where(.dark, .dark *) {
      background-color: #2b2c34;
    }
  }

  label > a {
    color: #3b82f6 !important;
    text-decoration: underline;
  }

  td label {
    background-color: unset !important;
  }

  /* Skill Styling */
  .skill-tag {
    display: inline-block;
    background-color: #e8f4f8;
    color: #2980b9;
    padding: 5px 12px;
    margin: 0 5px 5px 0;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: 600;
    &:where(.dark, .dark *) {
      background-color: #e8f4f81f;
      color: #ffffffde;
    }
  }

  .empty-col {
    text-align: center !important;
  }

  .settings-btn-icon {
    transition: none;
  }
  .settings-btn:hover .settings-btn-icon {
    transition: transform 1s;
    transform: rotate(180deg);
  }
</style>

<meta id="profile_user_id" data-other="{{user_id}}" />

<div class="flex flex-col w-full">
  {% if session["user_type"] != "external" %}
  <a
    href="/"
    class="m-4 outlined flex gap-2 items-center w-fit"
    style="border-radius: 90px; padding: 10px"
  >
    <i data-lucide="chevron-left" class="w-6 h-6"></i>
    Return to list
  </a>
  {% endif %}

  <div class="p-8 w-full max-w-4xl space-y-6 dark:bg-(--bg-paper)">
    <div class="flex gap-6 justify-between">
      <div class="flex gap-4 items-center">
        <div class="flex-none">
          {{ ui.profile_icon(profile_img_url, user_name, width=120, height=120)
          }}
        </div>
        <div class="flex flex-col">
          <span class="hand-written uppercase text-sm mb-2">{{user_type}}</span>
          <span>{{user_name}}</span>
          <span class="text-sm opacity-[0.8]">{{user_title}}</span>
          <span class="text-sm opacity-[0.8]">{{user_office}}</span>
        </div>
      </div>

      <div class="flex items-center">
        <button id="profile-settings-btn" class="settings-btn rounded-[50%]">
          <i
            id="profile-settings-icon"
            data-lucide="settings"
            class="settings-btn-icon w-10 h-10"
          ></i>
        </button>
      </div>
    </div>

    {% if session["user_type"] == "admin" or session["user_id"]|string ==
    user_id %}
    <div
      id="settings-menu"
      class="menu card popup hidden absolute rounded-xl bg-white py-2 border border-default min-w-[200px] z-[30]"
    >
      <p class="text-center p-2 font-bold">User Settings</p>

      <hr class="border-gray-300" />

      <button
        type="button"
        class="flex items-center py-3 px-4 w-full gap-3"
        onclick="openModal('profile_edit_dialog', event)"
      >
        <i data-lucide="user-pen" class="w-5 h-5"></i>
        Edit Profile
      </button>
      {% if cv_data %}
      <!---->
      {% if session["user_type"] == "admin" %}
      <button
        class="flex items-center py-3 px-4 w-full gap-3"
        onclick="openModal('new_targeted_cv_dialog', event)"
      >
        <i data-lucide="file-plus" class="w-5 h-5"></i>
        New Targeted CV
      </button>
      {% endif %}
      <button
        class="flex items-center py-3 px-4 w-full gap-3"
        onclick="openModal('edit_dialog', event)"
      >
        <i data-lucide="pencil-line" class="w-5 h-5"></i>
        Edit Source CV
      </button>
      {% else %}
      <button
        class="flex items-center py-3 px-4 w-full gap-3"
        onclick="openModal('upload_dialog', event)"
      >
        <i data-lucide="file-up" class="w-5 h-5"></i>
        Upload Source CV
      </button>
      <button
        class="flex items-center py-3 px-4 w-full gap-3"
        onclick="openModal('edit_dialog', event)"
      >
        <i data-lucide="pencil-line" class="w-5 h-5"></i>
        Custom Source CV
      </button>
      {% endif %}
      <!---->
      {% if session["user_type"] != "internal" %}
      <button
        class="flex items-center py-3 px-4 w-full gap-3 text-(--color-error)"
        onclick="openModal('delete_dialog', event)"
      >
        <i data-lucide="trash" class="w-5 h-5"></i>
        Delete Profile
      </button>
      {% endif %}
    </div>
    {% endif %}

    <div class="flex items-center gap-4">
      <div class="flex items-center gap-2">
        {% if cv_data %}
        <i data-lucide="file-check" class="text-green-600 w-7 h-7"></i>
        <p>Source CV provided</p>
        {% else %}
        <i data-lucide="file-x" class="text-red-700 w-7 h-7"></i>
        <p>Source CV not provided</p>
        {% endif %}
      </div>
      {% if user_type == "EXTERNAL" %}
      <div class="flex items-center gap-2">
        <i data-lucide="clock" class="w-6 h-6"></i>
        <p>Expires in: 14 days</p>
      </div>
      {% endif %}

      <!---->
      {% if session["user_type"] == "admin" and pin_code %}
      <div class="flex items-center gap-2">
        <i data-lucide="brackets" class="w-6 h-6"></i>
        <p>PIN code: {{pin_code}}</p>
      </div>
      {% endif %}
    </div>

    <table id="cv-table">
      <caption class="text-lg mb-2 font-medium">
        Targeted CVs
      </caption>
      <tr class="header-row z-10">
        <th class="w-1/5"><p>Job Name</p></th>
        <th class="w-1/3"><p>Date Created</p></th>
        <th class="w-full"><p>Link</p></th>
      </tr>
      {% if not targeted_cv_list %}
      <tr id="empty-col">
        <td colspan="100%" class="empty-col font-bold">Nothing to see here!</td>
      </tr>
      {% endif %}
      <!---->
      {% for cv in targeted_cv_list %}
      <tr>
        <td>
          <label for="row-{{loop.index}}"> {{cv['job_identifier']}} </label>
        </td>
        <td>
          <label for="row-{{loop.index}}">
            {{cv['date_created'].strftime('%d/%m/%Y')}}
          </label>
        </td>
        <td>
          <label for="row-{{loop.index}}">
            <a id="row-{{loop.index}}-id" href="/cv/{{cv['id']}}">
              {{cv['id']}}
            </a>
          </label>
        </td>
      </tr>
      {% endfor %}
    </table>

    {% if cv_data %}
    <div class="flex flex-col gap-8">
      <div>
        <p
          class="w-full text-lg mb-4 font-medium text-center border-y-[1px] border-white"
        >
          PROFILE
        </p>
        {% for profile in cv_data.get("profile_texts", []) %}
        <p>{{profile}}</p>
        {% endfor %}
      </div>

      <div>
        <p
          class="w-full text-lg mb-4 font-medium text-center border-y-[1px] border-white"
        >
          SKILLS
        </p>
        <!-- Normal -->
        {% for skill in cv_data.get("skills", []) %}
        <span class="skill-tag">{{skill}}</span>
        {% endfor %}
      </div>

      <div>
        <p
          class="w-full text-lg mb-4 font-medium text-center border-y-[1px] border-white"
        >
          WORK EXPERIENCE
        </p>
        <div class="space-y-6">
          {% for job in cv_data.get("job_experience", []) %}
          <div>
            <div class="flex justify-between items-center">
              <b class="text-lg">{{job.title}}</b>
              <p class="opacity-[0.5] text-sm">{{job.time_period}}</p>
            </div>
            <div class="opacity-[0.5] mb-2"><i>{{job.company_name}}</i></div>
            <p>{{job.description}}</p>
          </div>
          {% endfor %}
        </div>
      </div>

      {% if cv_data.get("education", [])|length > 0 %}
      <div>
        <p
          class="w-full text-lg mb-4 font-medium text-center border-y-[1px] border-white"
        >
          EDUCATION
        </p>
        <span class="space-y-6">
          {% for education in cv_data.get("education", []) %}
          <div>
            <div class="flex justify-between items-center">
              <b class="text-lg">{{education.degree}}</b>
              <p class="opacity-[0.5] text-sm">{{education.time_period}}</p>
            </div>
            <div class="opacity-[0.5] mb-2"><i>{{education.school}}</i></div>
            <p>{{education.description}}</p>
          </div>
          {% endfor %}
        </span>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

{% if session["user_type"] == "admin" or session["user_id"]|string == user_id %}
<!---->
{% include 'views/modals/cv_edit_dialog.html' %}
<!---->
{% include 'views/modals/cv_upload_dialog.html' %}
<!---->
{% include 'views/modals/profile_delete_dialog.html' %}
<!---->
{% include 'views/modals/profile_edit_dialog.html' %}
<!---->
{% endif %}

<!---->
{% if session["user_type"] == "admin" %}
<!---->
{% include 'views/modals/new_targeted_cv_dialog.html' %}
<!---->
{% endif %}

<!-- Profile logic -->
<script type="module">
  // Initialize Icons
  lucide.createIcons();

  const profileSettingsButton = document.getElementById("profile-settings-btn");
  const profileSettingsMenu = document.getElementById("settings-menu");

  function toggleMenu(e) {
    if (profileSettingsMenu.classList.contains("hidden")) {
      const buttonRect = profileSettingsButton.getBoundingClientRect();

      profileSettingsMenu.classList.remove("hidden");
      const menuRect = profileSettingsMenu.getBoundingClientRect();

      const topPosition = buttonRect.bottom - 5 + window.scrollY;
      profileSettingsMenu.style.top = `${topPosition}px`;

      const leftPosition =
        buttonRect.left - menuRect.width + 5 + window.scrollX;
      profileSettingsMenu.style.left = `${leftPosition}px`;
    } else {
      profileSettingsMenu.classList.add("hidden");
    }
  }

  profileSettingsButton.addEventListener("click", toggleMenu);

  window.addEventListener("mouseup", (e) => {
    if (
      !profileSettingsMenu.classList.contains("hidden") &&
      !profileSettingsButton.contains(e.target)
    ) {
      toggleMenu(e);
    }
  });

  window.addEventListener("scroll", (e) => {
    if (
      !profileSettingsMenu.classList.contains("hidden") &&
      !profileSettingsButton.contains(e.target)
    ) {
      toggleMenu(e);
    }
  });

  window.addEventListener("resize", (e) => {
    if (!profileSettingsMenu.classList.contains("hidden")) {
      toggleMenu(e);
    }
  });
</script>
{% endblock %}
