<!doctype html>
{% extends 'base.html' %}

<!-- Block start -->
{% block content %}
<div class="relative max-w-3xl">
  <!-- CSS -->
  <style>
    @media print {
      div {
        break-inside: avoid;
        print-color-adjust: exact;
      }
      .paper {
        box-shadow: none !important;
      }
      .confidential-header {
        display: block !important;
      }
      .print-hidden {
        display: none !important;
      }
      .cv-container {
        margin-top: 40px !important;
      }
    }
    body.modal-open {
      overflow: hidden;
    }
    .admin-button {
      box-shadow: 0.2px 1px 2px rgba(0, 0, 0, 0.3);
    }
    .confidential-header {
      text-align: center;
      margin: 0;
      color: rgb(220, 53, 69);
      position: absolute;
      top: 0;
      width: 100%;
      display: none;
    }
    .card {
      box-shadow: 0 1px 2px;
    }
    .red-paper {
      box-shadow: 0 2px 15px rgba(202, 0, 0, 0.3);
    }
    .paper {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    }
    .header {
      color: #2980b9;
    }
    .sub-header {
      color: #2c3e50;
    }

    /* Skill Styling */
    .skill-tag {
      display: inline-block;
      background-color: #e8f4f8;
      color: #2980b9;
      padding: 5px 12px;
      margin: 0 5px 5px 0;
      border-radius: 15px;
      font-size: 0.9em;
      font-weight: 600;
    }
    .highlight {
      background-color: #3b82f6;
      color: white;
    }
  </style>

  <meta id="cv_id" data-other="{{cv_id}}" />

  <!-- HTML -->
  {% if user_type == "pin" %}
  <div class="print-hidden w-full card p-4 rounded-xs text-center mt-8">
    <p>
      This is your generated CV. Please contact the contact person listed at the
      bottom of the CV if changes should be made. You may also delete this CV
      from our system at any time by pressing the button below.
    </p>
    <div class="w-full mt-2 flex justify-center">
      <button
        id="delete-btn"
        type="button"
        class="bg-red-700 hover:bg-red-800 text-white flex items-center gap-2 font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-4 focus:ring-red-300 transition duration-200 border border-default"
        onclick="openModal('delete_dialog', event)"
      >
        <i data-lucide="trash" class="w-4 h-4"></i>
        <p id="delete-text">Delete CV</p>
      </button>
    </div>
  </div>
  {% endif %}

  <!-- Admin buttons -->
  {% if user_type == "admin" %}
  <div class="print-hidden w-full p-4 rounded-xs text-center mt-8 red-paper">
    <p class="text-lg mb-4"><b>Admin Actions</b></p>
    <div class="flex justify-center gap-4">
      <button
        id="edit-btn"
        type="button"
        class="bg-blue-800 hover:bg-blue-900 text-white flex items-center gap-2 font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 transition duration-200 border border-default"
        onclick="openModal('edit_dialog', event)"
      >
        <i data-lucide="pen" class="w-4 h-4"></i>
        <p id="delete-text">Edit CV</p>
      </button>
      <button
        id="delete-btn"
        type="button"
        class="bg-red-700 hover:bg-red-800 text-white flex items-center gap-2 font-bold py-2 px-4 rounded-lg focus:outline-none focus:ring-4 focus:ring-red-300 transition duration-200 border border-default"
        onclick="openModal('delete_dialog', event)"
      >
        <i data-lucide="trash" class="w-4 h-4"></i>
        <p id="delete-text">Delete CV</p>
      </button>
    </div>
  </div>
  {% endif %}

  <div class="print-hidden py-4"></div>

  <div class="w-full shadow-2 mb-8 paper">
    <span class="confidential-header text-2xl border-b-2 border-black">
      <b>CONFIDENTIAL</b>
    </span>

    <div class="space-y-10 pt-2 pb-12 px-12 cv-container">
      <div class="text-center">
        <img
          class="top-logo w-[150px] m-auto"
          src="/static/images/wirokit_b.png"
        />
        <p class="text-4xl mt-[-10px] text-[#2c3e50]">{{json.name}}</p>
        <p class="text-xl mt-4 text-neutral-400">{{json.title}}</p>
      </div>

      <!-- Profile -->
      <div>
        <div class="font-bold uppercase text-lg mb-4 header">Profile</div>
        <div class="space-y-4">
          {% for profile in json.profileTexts %}
          <p>{{profile}}</p>
          {% endfor %}
        </div>
      </div>

      <!-- Skills -->
      <div>
        <div class="font-bold uppercase text-lg mb-4 header">Skills</div>
        <!-- Highlight -->
        {% for skill in json.highlightSkills %}
        <span class="skill-tag highlight">{{skill}}</span>
        {% endfor %}
        <!-- Normal -->
        {% for skill in json.skills %}
        <span class="skill-tag">{{skill}}</span>
        {% endfor %}
      </div>

      <!-- Work Experience -->
      <div>
        <div class="font-bold uppercase text-lg mb-4 header">
          Work Experience
        </div>
        <span class="space-y-6">
          {% for job in json.workExperience %}
          <div>
            <div class="flex justify-between items-center">
              <b class="text-lg sub-header">{{job.title}}</b>
              <p class="text-neutral-400 text-sm">{{job.timePeriod}}</p>
            </div>
            <div class="text-neutral-400 mb-2"><i>{{job.company}}</i></div>
            <p>{{job.description}}</p>
          </div>
          {% endfor %}
        </span>
      </div>

      <!-- Education -->
      {% if json.education|length > 0 %}
      <div>
        <div class="font-bold uppercase text-lg mb-4 header">Education</div>
        <span class="space-y-6">
          {% for education in json.education %}
          <div>
            <div class="flex justify-between items-center">
              <b class="text-lg">{{education.degree}}</b>
              <p class="text-neutral-400 text-sm">{{education.timePeriod}}</p>
            </div>
            <div class="text-neutral-400 mb-2"><i>{{education.school}}</i></div>
            <p>{{education.description}}</p>
          </div>
          {% endfor %}
        </span>
      </div>
      {% endif %}

      <!-- Contact info -->
      <div class="space-y-2">
        <div class="font-bold uppercase text-lg mb-4 header">
          Wirokit contact
        </div>
        <b class="text-lg">{{contact.name}}</b>
        <div class="flex items-center gap-2">
          <i data-lucide="mail" class="secondary-text w-5 h-5"></i>
          {{contact.email}}
        </div>
        <div class="flex items-center gap-2">
          <i data-lucide="phone" class="secondary-text w-5 h-5"></i>
          {{contact.phone}}
        </div>
      </div>
      <div>
        <b>Please note:</b> This document includes confidential and personal
        information. The recipient of this document may store this document only
        as long as it is required for the intended purpose. Any information in
        this document cannot be exposed, transferred or disclosed to any third
        parties. Any information in this document can be used only for agreed
        upon purposes. If you are not the intended recipient of this document,
        please contact the Wirokit contact person immediately and dispose of
        this document.
      </div>
    </div>
  </div>
</div>

{% if user_type == "admin" %}
<!-- Include edit modal if user is an admin -->
{% include 'views/cv_edit_dialog.html' %}
<!---->
{% endif%}

<!-- Delete confirmation popup -->
{% if user_type == "admin" or user_type == "pin" %}
<dialog
  id="delete_dialog"
  class="modal card max-w-md bg-white rounded-2xl overflow-hidden border border-slate-200 p-6"
>
  <div class="modal-box">
    <h3 class="text-lg font-bold">Are you sure?</h3>
    <p class="py-4 mb-2">
      This CV will be <b>permanently</b> deleted and cannot be recovered.
    </p>
    <div class="modal-action">
      <form method="dialog" class="flex gap-2 items-center">
        {{ ui.loadingButton("delete-confirm-btn", "handleDelete(event)",
        "Delete", "bg-red-700 text-white font-bold hover:bg-red-800
        focus:ring-red-300") }}
        <button
          class="py-3 px-4 rounded-lg hover:bg-gray-200 focus:outline-none focus:ring-4 focus:bg-gray-300 transition duration-200 mb-2"
          onclick="closeModal('delete_dialog', event)"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</dialog>
{% endif %}

<script>
  // Initialize Icons
  lucide.createIcons();

  let initialEditContent;
  let modalOpen = false;

  function openModal(id, e) {
    e?.preventDefault();

    modalOpen = true;
    document.body.classList.add("modal-open");

    const modal = document.getElementById(id);
    if (id == "edit_dialog") {
      initialEditContent = modal.innerHTML;
    }
    modal.showModal();
    modal.classList.remove("hidden");
  }

  function closeModal(id, e) {
    e?.preventDefault();

    modalOpen = false;
    document.body.classList.remove("modal-open");

    const modal = document.getElementById(id);
    if (id == "edit_dialog") {
      modal.innerHTML = initialEditContent;
    }
    modal.close();
    modal.classList.add("hidden");
  }

  async function handleDelete(e) {
    e.preventDefault();

    const confirmButton = document.getElementById("delete-confirm-btn");

    // Loading state
    confirmButton.classList.add("loading");
    confirmButton.setAttribute("disabled", "");

    const formData = new FormData();
    formData.append(
      "cvListJson",
      JSON.stringify([
        document.getElementById("cv_id").getAttribute("data-other"),
      ]),
    );

    try {
      const response = await fetch("/api/cv", {
        method: "DELETE",
        body: formData,
      });

      const result = await response.json();
      if (response.ok && result.success) {
        closeModal("delete_dialog");
        window.location.href = "/";
      } else {
        alert(result.error);
      }
    } catch (e) {
      console.error(e);
    } finally {
      // End loading state
      confirmButton.classList.remove("loading");
      confirmButton.removeAttribute("disabled");
    }
  }
</script>

<!-- Block end -->
{% endblock %}
