<style>
  .accordion-button {
    font-weight: 500;
  }
  .accordion-button .icon {
    background-color: var(--color-primary);
    border-radius: 90px;
    padding: 5px;
    color: var(--color-white);
  }

  label {
    background-color: var(--bg-dialog);
  }
  input,
  textarea {
    background-color: var(--bg-dialog-actions);
  }

  .index {
    background-color: var(--bg-dialog-actions);
  }

  textarea {
    field-sizing: content;
  }
</style>

<dialog
  id="edit_dialog"
  class="hidden modal card w-full max-w-2xl bg-(--bg-dialog) rounded-2xl overflow-hidden flex relative"
>
  <div class="size-full">
    <div class="modal-box overflow-y-auto max-h-[80vh] p-6 space-y-4">
      <p class="text-xl font-bold">Edit CV</p>

      <!-- Basic Info -->
      {% if not hide_basic_info_from_cv_edit %}
      <button
        type="button"
        class="accordion-button flex items-center w-full p-5 gap-3"
        onclick="toggleCvAccordion(event, 'info-wrapper')"
      >
        <i data-lucide="chevron-down" class="icon w-6 h-6"></i>
        <span>Basic Info</span>
      </button>
      <div id="info-wrapper" class="hidden wrapper pb-4 px-12 space-y-4">
        <div class="relative w-full pt-2">
          <label
            for="info_name"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Name
          </label>
          <input
            id="info_name"
            name="name"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full max-w-[300px]"
            value="{{cv_data.name}}"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="info_title"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Title
          </label>
          <input
            id="info_title"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full max-w-[300px]"
            value="{{cv_data.title}}"
          />
        </div>
      </div>
      {% endif %}

      <!-- Profile edit -->
      <button
        type="button"
        class="accordion-button flex items-center w-full p-5 gap-3"
        onclick="toggleCvAccordion(event, 'profile-wrapper')"
      >
        <i data-lucide="chevron-down" class="icon w-6 h-6"></i>
        <span>Profile Paragraphs</span>
      </button>
      <div id="profile-wrapper" class="hidden p-4 px-12 space-y-4">
        <div id="profile-list" class="space-y-4">
          {% for profile in cv_data.profile_texts %}
          <div id="container-profile-{{loop.index}}" class="flex gap-2">
            <!-- prettier-ignore -->
            <textarea
              id="profile-{{loop.index}}"
              class="border border-[rgba(0,0,0,0.2)] rounded-sm p-4 w-full min-w-100"
            >{{profile}}</textarea>

            <div
              id="list-index"
              class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
            >
              {{loop.index}}
            </div>
            <button
              type="button"
              id="delete-experience-{{loop.index}}"
              class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
              onclick="deleteCvElement(event, 'profile-list')"
            >
              <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
            </button>
          </div>
          {% endfor %}
        </div>
        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-profile-btn"
            class="flex w-full items-center justify-center border border-green-500 rounded-3xl p-2 bg-green gap-3"
          >
            <i data-lucide="plus" class="text-green-600 w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-experience-1"
            class="invisible flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- Skills edit -->
      <button
        type="button"
        class="accordion-button flex items-center w-full p-5 gap-3"
        onclick="toggleCvAccordion(event, 'skills-wrapper')"
      >
        <i data-lucide="chevron-down" class="icon w-6 h-6"></i>
        <span>Skills</span>
      </button>
      <div id="skills-wrapper" class="hidden wrapper pb-4 px-12 space-y-2">
        <p class="flex items-center text-md gap-2 text-yellow-600">
          <i data-lucide="circle-alert" class="w-5 h-5"></i>
          Click skill to toggle highlight
          <i data-lucide="circle-alert" class="w-5 h-5"></i>
        </p>
        <div id="skill-list">
          <!-- Highlight -->
          {% for skill in cv_data.skills %} {% if skill.is_highlight %}
          <div class="inline-flex items-center w-fit">
            <span
              class="skill-tag highlight hover:cursor-pointer"
              onclick="toggleCvSkillHighlight(this)"
              unselectable="on"
              onselectstart="return false;"
              onmousedown="return false;"
            >
              {{skill}}
            </span>
            <button
              type="button"
              class="ml-[-15px] rounded-xl bg-red-600"
              onclick="deleteCvElement(event)"
            >
              <i data-lucide="x" class="text-white w-4 h-4"></i>
            </button>
          </div>
          {% endif %} {% endfor %}
          <!-- Normal -->
          {% for skill in cv_data.skills %} {% if not skill.is_highlight %}
          <div class="inline-flex items-center w-fit">
            <span
              class="skill-tag hover:cursor-pointer"
              onclick="toggleCvSkillHighlight(this)"
              unselectable="on"
              onselectstart="return false;"
              onmousedown="return false;"
            >
              {{skill}}
            </span>
            <button
              type="button"
              class="ml-[-15px] rounded-lg bg-red-600"
              onclick="deleteCvElement(event)"
            >
              <i data-lucide="x" class="text-white w-4 h-4"></i>
            </button>
          </div>
          {% endif %} {% endfor %}
        </div>
        <div class="w-full mt-1">
          <label for="skill-input">Add a new skill</label>
          <div class="flex items-center" class="w-full">
            <input
              id="skill-input"
              type="text"
              class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm"
              onchange="addCvSkill(event)"
            />
            <button
              type="button"
              id="add-skill-btn"
              onclick="addCvSkill(event)"
            >
              <i data-lucide="plus" class="text-green-600 w-5 h-5"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Work Experience -->
      <button
        type="button"
        class="accordion-button flex items-center w-full p-5 gap-3"
        onclick="toggleCvAccordion(event, 'work-wrapper')"
      >
        <i data-lucide="chevron-down" class="icon w-6 h-6"></i>
        <span>Work Experience</span>
      </button>
      <div id="work-wrapper" class="hidden wrapper pb-4 px-12 space-y-4">
        <div id="experience-list" class="space-y-8">
          {% for experience in cv_data.job_experience %}
          <div class="flex gap-2">
            <div class="w-full space-y-2">
              <div class="relative w-full pt-2">
                <label
                  for="experience-title-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Title
                </label>
                <input
                  id="experience-title-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{experience.title}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="experience-company-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Company
                </label>
                <input
                  id="experience-company-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{experience.company_name}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="experience-duration-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Duration
                </label>
                <input
                  id="experience-duration-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{experience.time_period}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="experience-description-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Description
                </label>
                <!-- prettier-ignore -->
                <textarea
                  id="experience-description-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                >{{experience.description}}</textarea>
              </div>
            </div>

            <div
              id="list-index"
              class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
            >
              {{loop.index}}
            </div>
            <button
              type="button"
              id="delete-experience-1"
              class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
              onclick="deleteCvElement(event, 'experience-list')"
            >
              <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
            </button>
          </div>
          {% endfor %}
        </div>

        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-experience-btn"
            class="flex w-full items-center justify-center border border-green-500 rounded-3xl p-2 bg-green gap-2 text-green-600"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-experience-x"
            class="invisible flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- Education -->
      <button
        type="button"
        class="accordion-button flex items-center w-full p-5 gap-3"
        onclick="toggleCvAccordion(event, 'edu-wrapper')"
      >
        <i data-lucide="chevron-down" class="icon w-6 h-6"></i>
        <span>Education</span>
      </button>
      <div id="edu-wrapper" class="hidden wrapper pb-4 px-12 space-y-4">
        <div id="edu-list" class="space-y-8">
          {% for education in cv_data.education %}
          <div class="flex gap-2">
            <div class="w-full space-y-2">
              <div class="relative w-full pt-2">
                <label
                  for="edu-title-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Title | Degree
                </label>
                <input
                  id="edu-title-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{education.degree}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="edu-company-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  School
                </label>
                <input
                  id="edu-company-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{education.school}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="edu-duration-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Duration
                </label>
                <input
                  id="edu-duration-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                  value="{{education.time_period}}"
                />
              </div>

              <div class="relative w-full pt-2">
                <label
                  for="edu-description-{{loop.index}}"
                  class="absolute top-0 left-1 px-1 text-xs font-semibold"
                >
                  Description
                </label>
                <!-- prettier-ignore -->
                <textarea
                  id="edu-description-{{loop.index}}"
                  type="text"
                  class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
                >{{education.description}}</textarea>
              </div>
            </div>

            <div
              id="list-index"
              class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
            >
              {{loop.index}}
            </div>
            <button
              type="button"
              id="delete-edu-1"
              class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
              onclick="deleteCvElement(event, 'edu-list')"
            >
              <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
            </button>
          </div>
          {% endfor %}
        </div>

        <div class="flex w-full gap-2">
          <button
            type="button"
            id="add-education-btn"
            class="flex w-full items-center justify-center border border-green-500 rounded-3xl p-2 bg-green gap-2 text-green-600"
          >
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>ADD</span>
          </button>
          <button
            type="button"
            id="delete-edu-x"
            class="invisible flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
            onclick="event.preventDefault()"
          >
            <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
          </button>
        </div>
      </div>

      <!-- New accordions here -->
    </div>

    <div
      class="flex items-center gap-2 modal-action p-6 border-default border-t-2 dark:bg-(--bg-dialog-actions)"
    >
      {{ ui.loading_button("edit-confirm-btn", "Save", "bg-green-600 text-white
      font-bold hover:bg-green-800 focus:ring-green-300 rounded-sm") }}
      <button
        type="button"
        class="py-3 px-4 rounded-sm focus:outline-none focus:ring-4 transition duration-200"
        onclick="closeModal('edit_dialog', event)"
      >
        Cancel
      </button>
      <p id="edit-message"></p>
    </div>
  </div>
</dialog>

<script type="module">
  // Initialize Icons
  lucide.createIcons();

  const dialog = document.getElementById("edit_dialog");

  let nextProfileIndex =
    document.getElementById("profile-list").children.length + 1;
  let nextExperienceIndex =
    document.getElementById("experience-list").children.length + 1;
  let nextEduIndex = document.getElementById("edu-list").children.length + 1;

  document.body.addEventListener("keydown", (e) => {
    if (dialog.open && e.key == "Escape") {
      e.preventDefault();
      closeModal("edit_dialog", null);
    }
  });

  function toggleCvAccordion(e, target) {
    e.preventDefault();

    const buttonEl = e.currentTarget;
    const targetEl = document.getElementById(target);
    if (targetEl.classList.contains("hidden")) {
      buttonEl
        .getElementsByClassName("icon")[0]
        .setAttribute("data-lucide", "chevron-up");
      buttonEl.classList.add("active");
      targetEl.classList.remove("hidden");
    } else {
      buttonEl
        .getElementsByClassName("icon")[0]
        .setAttribute("data-lucide", "chevron-down");
      buttonEl.classList.remove("active");
      targetEl.classList.add("hidden");
    }
    lucide.createIcons();
  }
  window.toggleCvAccordion = toggleCvAccordion;

  document.getElementById("add-profile-btn").addEventListener("click", (e) => {
    e.preventDefault();

    const newParagraph = document.createElement("div");
    newParagraph.id = `container-profile-${nextProfileIndex}`;
    newParagraph.classList.add("flex", "gap-2");
    newParagraph.innerHTML = html`
      <textarea
        id="profile-${nextProfileIndex}"
        class="border border-[rgba(0,0,0,0.2)] rounded-sm p-4 w-full min-w-100"
      ></textarea>

      <div
        id="list-index"
        class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
      >
        ${document.getElementById("profile-list").children.length + 1}
      </div>
      <button
        type="button"
        id="delete-experience-${nextProfileIndex}"
        class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
        onclick="deleteCvElement(event, 'profile-list')"
      >
        <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
      </button>
    `;
    document.getElementById("profile-list").appendChild(newParagraph);
    nextProfileIndex += 1;

    // Initialize new icon
    lucide.createIcons();
  });

  function toggleCvSkillHighlight(skillNode) {
    if (skillNode.classList.contains("highlight")) {
      skillNode.classList.remove("highlight");
    } else {
      skillNode.classList.add("highlight");
    }
  }
  window.toggleCvSkillHighlight = toggleCvSkillHighlight;

  function deleteCvElement(e, listId) {
    e.preventDefault();

    e.currentTarget.parentElement.remove();

    if (listId) {
      const wrapper = document.getElementById(listId);
      for (let i = 0; i < wrapper.children.length; i++) {
        const el = wrapper.children[i];
        el.children.namedItem("list-index").textContent = i + 1;
      }
    }
  }
  window.deleteCvElement = deleteCvElement;

  function addCvSkill(e) {
    e.preventDefault();

    const skillInput = document.getElementById("skill-input");

    const skillEl = document.createElement("div");
    skillEl.classList.add("inline-flex", "items-center", "w-fit");
    skillEl.innerHTML = html`
      <span
        class="skill-tag hover:cursor-pointer"
        onclick="toggleCvSkillHighlight(this)"
      >
        ${skillInput.value}
      </span>
      <button
        type="button"
        class="ml-[-15px] rounded-lg bg-red-600"
        onclick="deleteCvElement(event)"
      >
        <i data-lucide="x" class="text-white w-4 h-4"></i>
      </button>
    `;

    document.getElementById("skill-list").appendChild(skillEl);
    skillInput.value = "";

    // Initialize new icon
    lucide.createIcons();
  }
  window.addCvSkill = addCvSkill;

  const addExperienceButton = document.getElementById("add-experience-btn");
  addExperienceButton.addEventListener("click", (e) => {
    e.preventDefault();

    const experienceEl = document.createElement("div");
    experienceEl.classList.add("flex", "gap-2");

    experienceEl.innerHTML = html`
      <div class="w-full space-y-2">
        <div class="relative w-full pt-2">
          <label
            for="experience-title-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Title
          </label>
          <input
            id="experience-title-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="experience-company-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Company
          </label>
          <input
            id="experience-company-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="experience-duration-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Duration
          </label>
          <input
            id="experience-duration-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="experience-description-${nextExperienceIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Description
          </label>
          <textarea
            id="experience-description-${nextExperienceIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          ></textarea>
        </div>
      </div>

      <div
        id="list-index"
        class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
      >
        ${document.getElementById("experience-list").children.length + 1}
      </div>
      <button
        type="button"
        id="delete-experience-${nextExperienceIndex}"
        class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
        onclick="deleteCvElement(event, 'experience-list')"
      >
        <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
      </button>
    `;

    document.getElementById("experience-list").appendChild(experienceEl);
    nextExperienceIndex += 1;
    lucide.createIcons();
  });

  const addEducationButton = document.getElementById("add-education-btn");
  addEducationButton.addEventListener("click", (e) => {
    e.preventDefault();

    const eduEl = document.createElement("div");
    eduEl.classList.add("flex", "gap-2");

    eduEl.innerHTML = html`
      <div class="w-full space-y-2">
        <div class="relative w-full pt-2">
          <label
            for="edu-title-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Title | Degree
          </label>
          <input
            id="edu-title-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="edu-company-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            School
          </label>
          <input
            id="edu-company-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="edu-duration-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Duration
          </label>
          <input
            id="edu-duration-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          />
        </div>

        <div class="relative w-full pt-2">
          <label
            for="edu-description-${nextEduIndex}"
            class="absolute top-0 left-1 px-1 text-xs font-semibold"
          >
            Description
          </label>
          <!-- prettier-ignore -->
          <textarea
            id="edu-description-${nextEduIndex}"
            type="text"
            class="p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
          ></textarea>
        </div>
      </div>

      <div
        id="list-index"
        class="index flex h-inherit border border-[rgba(0,0,0,0.4)] rounded-xl px-1 items-center text-3xl text-center"
      >
        ${document.getElementById("edu-list").children.length + 1}
      </div>
      <button
        type="button"
        id="delete-edu-${nextEduIndex}"
        class="flex h-inherit border border-red-500 rounded-xl px-1 items-center text-center"
        onclick="deleteCvElement(event, 'edu-list')"
      >
        <i data-lucide="trash" class="text-red-500 w-5 h-5"></i>
      </button>
    `;

    document.getElementById("edu-list").appendChild(eduEl);
    nextEduIndex += 1;
    lucide.createIcons();
  });

  const confirmButton = document.getElementById("edit-confirm-btn");
  confirmButton.addEventListener("click", async (e) => {
    e.preventDefault();

    // Loading state
    confirmButton.classList.add("loading");
    confirmButton.setAttribute("disabled", "");

    const jsonData = {};

    // Basic info
    jsonData.name = document.getElementById("info_name")?.value || "";
    jsonData.title = document.getElementById("info_title")?.value || "";

    // Profiles
    const profileList = document.getElementById("profile-list");
    jsonData.profile_texts = [];
    for (const child of profileList.children) {
      const value = child.getElementsByTagName("textarea")[0].value;
      jsonData.profile_texts.push(value);
    }

    // Skills
    const skillsList = document.getElementById("skill-list");
    jsonData.highlight_skills = [];
    jsonData.skills = [];
    for (const child of skillsList.children) {
      let skillNode = child.getElementsByClassName("skill-tag")[0];
      let value = skillNode.textContent.replaceAll("\n", "").trim();

      if (skillNode.classList.contains("highlight")) {
        jsonData.highlight_skills.push(value);
      } else {
        jsonData.skills.push(value);
      }
    }

    // Work Experience
    const experienceList = document.getElementById("experience-list");
    jsonData.job_experience = [];
    for (const child of experienceList.children) {
      const experienceJson = {};

      const inputs = child.getElementsByTagName("input");
      experienceJson.title = inputs[0].value;
      experienceJson.company_name = inputs[1].value;
      experienceJson.time_period = inputs[2].value;
      experienceJson.description =
        child.getElementsByTagName("textarea")[0].value;

      jsonData.job_experience.push(experienceJson);
    }

    // Education
    const educationList = document.getElementById("edu-list");
    jsonData.education = [];
    for (const child of educationList.children) {
      const eduJson = {};

      const inputs = child.getElementsByTagName("input");
      eduJson.degree = inputs[0].value;
      eduJson.school = inputs[1].value;
      eduJson.time_period = inputs[2].value;
      eduJson.description = child.getElementsByTagName("textarea")[0].value;

      jsonData.education.push(eduJson);
    }

    // Hide and prepare message
    const editMessage = document.getElementById("edit-message");
    editMessage.setAttribute("class", "hidden text-sm");

    const cv_id = document.getElementById("cv_id").getAttribute("data-other");

    try {
      const formData = new FormData();
      formData.append("cv_json", JSON.stringify(jsonData));

      const response = await fetch(`/api/cv/${cv_id}`, {
        method: "PATCH",
        body: formData,
      });

      const result = await response.json();

      editMessage.classList.remove("hidden");
      if (response.ok && result.success) {
        editMessage.classList.add("text-green-700");
        editMessage.textContent = "Done! Reloading page...";
        window.location.reload();
      } else {
        // Handle backend error
        editMessage.classList.add("text-red-700");
        editMessage.textContent = `Error: ${result.error}`;
      }
    } catch (error) {
      // Handle network or fetch error
      console.error("Upload Error:", error);
      editMessage.classList.add("text-red-700");
      editMessage.textContent = error;
    } finally {
      // End loading state
      confirmButton.classList.remove("loading");
      confirmButton.removeAttribute("disabled");
    }
  });
</script>
