<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <title>Wirokit - CV Tool</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
    <style>
      @media print {
        nav,
        nav * {
          display: none !important;
        }
        section {
          margin-top: 0 !important;
          padding: 0 !important;
        }
      }
      @layer base {
        dialog {
          margin: auto;
        }
      }
      section {
        padding: 2rem 0;
      }
      .base-height {
        min-height: calc(100vh - 60px);
      }
      button.disabled,
      button.loading {
        background-color: rgba(0, 0, 0, 0.1);
        pointer-events: none;
      }
    </style>
  </head>
  <body class="bg-gray-100 font-sans antialiased">
    {% import "macros.html" as ui %}

    <nav
      class="bg-inherit fixed w-full z-20 top-0 start-0 border-b border-default shadow-md"
    >
      <div
        class="max-w-screen-xl h-[60px] flex flex-wrap items-center justify-between mx-auto p-2 px-4"
      >
        <a href="/" class="flex gap-4 items-center">
          <img
            src="/static/images/wirokit_icon_b.png"
            class="w-10"
            alt="Wirokit Logo"
          />
          <span
            class="self-center text-xl text-heading font-semibold whitespace-nowrap"
          >
            CV Tool
          </span>
        </a>
        <div>
          <button
            id="profile-icon"
            type="button"
            class="flex items-center justify-center text-center w-[35px] h-[35px] bg-gray-300 rounded-[90px] hover:cursor-pointer"
            onclick="toggleMenu(event)"
          >
            {{session['user_id'][0]}}
          </button>
        </div>

        <div
          id="user-menu"
          class="hidden absolute top-[55px] right-[10px] w-[250px] rounded-xl bg-white py-2 shadow-xl border border-default"
        >
          <div class="text-center italic mb-2">ADMIN</div>
          <div class="flex items-center px-4 gap-2 mb-3">
            <span
              id="menu-profile-icon"
              class="flex items-center justify-center text-center w-[40px] h-[40px] bg-gray-300 rounded-[90px]"
            >
              {{session['user_id'][0]}}
            </span>
            <span id="logged-in-user">{{session['user_id']}}</span>
          </div>
          <hr />
          <button
            type="button"
            class="flex items-center py-3 px-4 w-full text-start gap-3 hover:bg-gray-300"
            onclick="logOut(event)"
          >
            <i data-lucide="log-in"></i>
            Log out
          </button>
        </div>
      </div>
    </nav>
    <section class="base-height flex justify-center p-0 mt-[60px]">
      <header>{% block header %}{% endblock %}</header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>
    <script>
      const menu = document.getElementById("user-menu");

      function toggleMenu(e) {
        e.preventDefault();

        if (menu.classList.contains("hidden")) {
          menu.classList.remove("hidden");
        } else {
          menu.classList.add("hidden");
        }
      }

      // If menu is open, close the menu when user clicks somewhere else
      window.addEventListener("click", (e) => {
        if (
          !menu.classList.contains("hidden") &&
          e.srcElement.id != "profile-icon" &&
          e.srcElement.id != "user-menu" &&
          e.srcElement.offsetParent.id != "user-menu"
        ) {
          menu.classList.add("hidden");
        }
      });

      async function logOut(e) {
        e.preventDefault();

        try {
          const response = await fetch("/api/logout", {
            method: "POST",
          });
          const result = await response.json();

          if (result.success) {
            window.location.href = "/";
          }
        } catch (e) {
          console.error("Logout error:", e);
        }
      }
    </script>
  </body>
</html>
