<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <title>Agency</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/tailwind.css')}}"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
    <style>
      @media print {
        nav,
        nav * {
          display: none !important;
        }
        section {
          margin-top: 0 !important;
          padding: 0 !important;
        }
      }
      @layer base {
        dialog {
          margin: auto;
        }
      }
      body {
        &:where(.dark, .dark *) {
          background-image: url("{{url_for('static',filename='images/bg.jpg')}}");
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
      .base-height {
        min-height: calc(100vh - 70px);
      }
      nav.scrolled {
        transition: all 0.1s;
        box-shadow:
          0 3px 6px rgba(0, 0, 0, 0.16),
          0 3px 6px rgba(0, 0, 0, 0.23);
        background-color: white;
        &:where(.dark, .dark *) {
          box-shadow: none;
          background-color: black;
        }
      }
      .menu button:hover,
      .menu a:hover {
        background-color: rgba(0, 0, 0, 0.2);
        &:where(.dark, .dark *) {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    </style>
  </head>
  <body class="font-sans antialiased dark:text-white">
    {% import "macros.html" as ui %}

    <nav id="top-nav" class="bg-inherit fixed w-full z-20 top-0 start-0">
      <div
        class="max-w-screen-xl h-[70px] flex flex-wrap items-center justify-between mx-auto p-2 px-4"
      >
        <div class="flex gap-4">
          <a href="/" class="flex gap-4 items-center">
            <img
              src="/static/images/wirokit_icon_b.png"
              class="w-12 dark:hidden"
              alt="Wirokit Logo"
            />
            <img
              src="/static/images/wirokit_icon_w.png"
              class="w-12 hidden dark:block dark:opacity-[87%]"
              alt="Wirokit Logo"
            />
            <span class="hand-written self-center whitespace-nowrap text-lg">
              AGENCY
            </span>
          </a>
        </div>

        <button id="profile-icon" type="button" class="rounded-[50%]">
          {{ ui.profile_icon(session["profile_img_url"], session["user_name"],
          width=50, height=50) }}
        </button>

        <div
          id="user-menu"
          class="menu card popup hidden absolute top-[60px] w-[250px] rounded-xl bg-white py-2 border border-default"
        >
          <div id="menu-content">
            <div class="hand-written text-sm text-center mb-2 uppercase">
              {{session["user_type"]}}
            </div>
            <div class="flex items-center px-4 gap-2 mb-3">
              {{ ui.profile_icon(session["profile_img_url"],
              session["user_name"], width=40, height=40) }}
              <span id="logged-in-user">{{session['user_name']}}</span>
            </div>

            <hr class="border-gray-300" />

            <a
              href="/profile"
              class="flex items-center py-3 px-4 w-full text-start gap-3"
            >
              <i data-lucide="user"></i>
              My Profile
            </a>
            <button
              id="open-theme-selection-btn"
              type="button"
              class="flex items-center py-3 px-4 w-full text-start gap-3 justify-between"
            >
              <div class="flex dark:hidden items-center gap-3">
                <i data-lucide="sun"></i>
                Theme: Light
              </div>
              <div class="hidden dark:flex items-center gap-3">
                <i data-lucide="moon"></i>
                Theme: Dark
              </div>
              <i data-lucide="chevron-right"></i>
            </button>
            <button
              type="button"
              class="flex items-center py-3 px-4 w-full text-start gap-3"
              onclick="logOut(event)"
            >
              <i data-lucide="log-in"></i>
              Log out
            </button>
          </div>

          <div id="theme-selector" class="hidden">
            <button
              id="close-theme-selector-btn"
              type="button"
              class="flex items-center py-3 px-4 w-full text-start gap-3 font-medium"
            >
              <i data-lucide="arrow-left"></i>
              Theme
            </button>

            <hr class="border-gray-300" />

            <button
              id="btn-theme-default"
              type="button"
              class="flex items-center py-3 px-4 w-full text-start gap-3"
            >
              <i data-lucide="check" class="invisible"></i>
              <p>
                Device default (<span id="preferred-color-scheme">Light</span>)
              </p>
            </button>

            <button
              id="btn-theme-dark"
              type="button"
              class="flex items-center py-3 px-4 w-full text-start gap-3"
            >
              <i data-lucide="check" class="invisible"></i>
              Dark theme
            </button>

            <button
              id="btn-theme-light"
              type="button"
              class="flex items-center py-3 px-4 w-full text-start gap-3"
            >
              <i data-lucide="check" class="invisible"></i>
              Light theme
            </button>
          </div>
        </div>
      </div>
    </nav>
    <section class="base-height flex justify-center mt-[70px]">
      <header>{% block header %}{% endblock %}</header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <script type="module">
      // Initialize Icons
      lucide.createIcons();

      // Helper function for HTML strings
      const html = (strings, ...values) =>
        String.raw({ raw: strings }, ...values);
      window.html = html;

      const prefersDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;

      if (prefersDarkMode) {
        document.getElementById("preferred-color-scheme").innerText = "Dark";
      }

      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) && prefersDarkMode),
      );

      document
        .getElementById(
          `btn-theme-${!("theme" in localStorage) ? "default" : localStorage.theme}`,
        )
        .getElementsByClassName("invisible")[0]
        .classList.remove("invisible");

      const nav = document.getElementById("top-nav");
      const menu = document.getElementById("user-menu");

      // Menu content
      const menuDefaultContent = document.getElementById("menu-content");
      const menuThemeSelector = document.getElementById("theme-selector");

      document.addEventListener("scroll", (e) => {
        if (window.scrollY > 5) {
          nav.classList.add("scrolled");
        } else {
          nav.classList.remove("scrolled");
        }
      });

      // Toggle menu with the top-right icon
      function toggleMenu(e) {
        e.preventDefault();

        if (menu.classList.contains("hidden")) {
          menu.style.left = `${e.srcElement.offsetLeft - 220}px`;
          menu.classList.remove("hidden");
        } else {
          menu.classList.add("hidden");

          // Close theme menu if it was open
          menuThemeSelector.classList.add("hidden");
          menuDefaultContent.classList.remove("hidden");
        }
      }
      document
        .getElementById("profile-icon")
        .addEventListener("click", toggleMenu);

      function toggleThemeSelector(e) {
        e.preventDefault();

        if (menuThemeSelector.classList.contains("hidden")) {
          menuDefaultContent.classList.add("hidden");
          menuThemeSelector.classList.remove("hidden");
        } else {
          menuThemeSelector.classList.add("hidden");
          menuDefaultContent.classList.remove("hidden");
        }
      }
      document
        .getElementById("open-theme-selection-btn")
        .addEventListener("click", toggleThemeSelector);
      document
        .getElementById("close-theme-selector-btn")
        .addEventListener("click", toggleThemeSelector);

      function changeTheme(e, mode) {
        e.preventDefault();

        if (
          localStorage.theme == "mode" ||
          (!localStorage.theme && mode == "system")
        ) {
          return;
        }

        if (mode == "system") {
          localStorage.removeItem("theme");
        } else if (mode == "light") {
          localStorage.theme = "light";
        } else if (mode == "dark") {
          localStorage.theme = "dark";
        }

        window.location.reload();
      }
      document
        .getElementById("btn-theme-default")
        .addEventListener("click", (e) => changeTheme(e, "system"));
      document
        .getElementById("btn-theme-dark")
        .addEventListener("click", (e) => changeTheme(e, "dark"));
      document
        .getElementById("btn-theme-light")
        .addEventListener("click", (e) => changeTheme(e, "light"));

      // If menu is open, close the menu when user clicks somewhere else
      window.addEventListener("mouseup", (e) => {
        if (
          !menu.classList.contains("hidden") &&
          !menu.contains(e.target) &&
          e.srcElement?.id !== "profile-icon"
        ) {
          toggleMenu(e);
        }
      });

      window.addEventListener("resize", (e) => {
        if (!menu.classList.contains("hidden")) {
          toggleMenu(e);
        }
      });

      async function logOut(e) {
        e.preventDefault();

        try {
          const response = await fetch("/auth/logout", {
            method: "POST",
          });
          const result = await response.json();

          if (result.success) {
            window.location.href = "/";
          }
        } catch (e) {
          console.error("Logout error:", e);
        }
      }
      window.logOut = logOut; // Set logOut as a global function

      /*
        Modal handlers
      */
      let modalOpen = false;

      function openModal(id, e) {
        e?.preventDefault();

        modalOpen = true;
        document.body.classList.add("modal-open");

        const modal = document.getElementById(id);

        modal.showModal();
        modal.classList.remove("hidden");
      }
      window.openModal = openModal;

      function closeModal(id, e) {
        e?.preventDefault();

        modalOpen = false;
        document.body.classList.remove("modal-open");

        const modal = document.getElementById(id);

        // Reset any forms within the dialog
        const formNode = modal.querySelector("form");
        if (formNode) {
          formNode.reset();

          // Reset any file inputs
          const fileInputs = formNode.querySelectorAll('input[type="file"]');
          fileInputs.forEach((input) => {
            input.value = "";
          });
        }

        modal.close();
        modal.classList.add("hidden");
      }
      window.closeModal = closeModal;
    </script>
  </body>
</html>
