<!-- PDF Upload button -->
{% macro pdf_upload() %}
<style>
  .file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    ::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
  .file-input-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  .file-input-label {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 1.5rem;
    border: 2px dashed #739fd5; /* gray-300 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: inherit; /* gray-50 */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .file-input-wrapper:hover .file-input-label {
    border-color: #3b82f6;
    background-color: #e2e4ff;
    &:where(.dark, .dark *) {
      border-color: #3b82f6;
      background-color: var(--color-secondary);
    }
  }
  /* Style for when a file is selected */
  .file-input-wrapper.file-selected .file-input-label {
    border-color: #16a34a; /* green-600 */
  }
  /* Style for when a file is dragged on top of the file input */
  .dragover {
    border: 2px solid #3b82f6; /* gray-300 */
  }
</style>

<div id="file-wrapper" class="file-input-wrapper w-full">
  <label for="pdf-file" id="file-label" class="file-input-label">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-12 h-12 mr-3 text-(--color-primary)"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="1.5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 10v6m0 0l-3-3m3 3l3-3"
      />
    </svg>
    <div>
      <span class="font-medium text-(--color-primary)"> Click to upload </span>
      or drag and drop
      <p id="file-name" class="text-sm mt-1">PDF files only (max 50MB)</p>
    </div>
  </label>
  <input
    type="file"
    id="pdf-file"
    name="file"
    accept="application/pdf"
    class="file-input"
  />
</div>

<script type="module">
  const pdfFile = document.getElementById("pdf-file");
  const fileNameDisplay = document.getElementById("file-name");
  const fileWrapper = document.getElementById("file-wrapper");
  const fileLabel = document.getElementById("file-label");

  /* Clear the dragover style if the file is dragged ANYWHERE other than the file input */
  document.addEventListener("dragover", (e) => {
    if (e.target.id !== "pdf-file") {
      fileLabel.classList.remove("dragover");
    }
  });

  fileWrapper.addEventListener("dragover", (e) => {
    fileLabel.classList.add("dragover");
  });

  fileWrapper.addEventListener("drop", (e) => {
    fileLabel.classList.remove("dragover");
  });

  // Update file name display on file selection
  pdfFile.addEventListener("change", (e) => {
    const file = e.target.files[0];
    if (file) {
      fileNameDisplay.textContent = file.name;
      fileWrapper.classList.add("file-selected");
      fileLabel.classList.add("border-green-600", "bg-green-50");
    } else {
      fileNameDisplay.textContent = "PDF files only (max 50MB)";
      fileWrapper.classList.remove("file-selected");
      fileLabel.classList.remove("border-green-600", "bg-green-50");
    }
  });
</script>
{% endmacro %}

<!-- PIN input field -->
{% macro pin_input() %}
<style>
  /* Hide the increase/decrese arrows on number input */
  @layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  .pin input {
    border: 1px solid rgb(203 213 225);
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.7rem;
    &:where(.dark, .dark *) {
      border-color: rgba(203, 213, 225, 0.2);
    }
  }
</style>
<div class="pin w-full flex gap-1">
  <input
    id="pin-1"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-2"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-3"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-4"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-5"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-6"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
</div>

<script type="module">
  const pinArray = [
    document.getElementById("pin-1"),
    document.getElementById("pin-2"),
    document.getElementById("pin-3"),
    document.getElementById("pin-4"),
    document.getElementById("pin-5"),
    document.getElementById("pin-6"),
  ];

  pinArray.forEach((pinInput) => {
    // Only allow input that contains numbers
    // Also allow backspace | delete key | enter
    pinInput.addEventListener("beforeinput", (e) => {
      if (
        !e.inputType.startsWith("delete") &&
        e.inputType != "insertLineBreak" &&
        !/^\d$/.test(e.data)
      ) {
        e.preventDefault();
      }

      // Handle backspace on empty input - move focus to previous input
      // The "input" event will be triggered on the newly focused input
      if (e.inputType == "deleteContentBackward" && pinInput.value == "") {
        const inputNum = e.target.id[e.target.id.length - 1];
        if (inputNum > 1) {
          pinArray[inputNum - 2].focus();
        }
      } else if (
        e.inputType == "deleteContentForward" &&
        pinInput.value == ""
      ) {
        // Same for the delete key - does anyone actually use it?
        const inputNum = e.target.id[e.target.id.length - 1];
        if (inputNum < 6) {
          pinArray[inputNum].focus();

          // Input event won't work correctly, so do things manually
          pinArray[inputNum].value = "";
          e.preventDefault();
        }
      }
    });

    pinInput.addEventListener("input", (e) => {
      // Replace any existing value with the input
      if (pinInput.value.length > 0) {
        e.preventDefault();
        pinInput.value = e.data;
      }

      // Move focus to the next input if not last input
      const inputNum = e.target.id[e.target.id.length - 1];
      if (!e.inputType.startsWith("delete") && inputNum < 6) {
        pinArray[inputNum].focus();
      }
    });

    pinInput.addEventListener("paste", (e) => {
      e.preventDefault();
      let pasteText = e.clipboardData.getData("text");
      pasteText = pasteText.trim(); // Remove surrounding empty space

      // Ensure that pasted text contains only numbers
      if (/^\d+$/.test(pasteText)) {
        // Put the first pasted number to the focused field
        pinInput.value = pasteText[0];

        // Put the rest of the numbers to the following fields
        const inputNum = e.target.id[e.target.id.length - 1];
        let dataIndex = 1;
        for (let x = inputNum; x < pinArray.length; x++) {
          if (pasteText[dataIndex]) {
            pinArray[x].value = pasteText[dataIndex];
            dataIndex++;
            pinArray[x].focus();
          } else {
            // Leave focus on the first empty space if not enough to fill all
            pinArray[x].focus();
            break;
          }
        }
      }
    });

    // Allow navigation between pin inputs with arrow keys
    pinInput.addEventListener("keydown", (e) => {
      // We only care about arrow keys
      if (!e.code.includes("Arrow")) {
        return;
      }

      e.preventDefault();

      const inputNum = e.target.id[e.target.id.length - 1];
      switch (e.code) {
        case "ArrowRight":
          inputNum < 6 ? pinArray[inputNum].focus() : null;
          break;
        case "ArrowLeft":
          inputNum > 1 ? pinArray[inputNum - 2].focus() : null;
          break;
      }
    });
  });
</script>
{% endmacro %}

<!-- Modal -->
{% macro modal(id, title, max_width) %}
<dialog
  id="{{id}}"
  class="hidden modal overflow-hidden flex z-50 justify-center bg-transparent focus:outline-0"
>
  <!-- Modal content -->
  <div
    class="flex max-w-{{max_width}} w-full max-h-[70%] shadow-md overflow-hidden card bg-(--bg-dialog) rounded-2xl mb-[70px]"
  >
    <div class="relative h-full overflow-y-auto">
      <!-- Modal header -->
      <div
        id="modal-header"
        class="sticky w-full top-0 flex items-center justify-between p-4 md:p-6"
      >
        <h3 class="text-lg font-medium text-heading">{{title}}</h3>
        <button
          id="modal-close-btn"
          type="button"
          class="text-body bg-transparent hover:bg-neutral-tertiary hover:rounded-base text-sm ms-auto inline-flex justify-center items-center"
          onclick="closeModal('{{id}}', event)"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18 17.94 6M18 18 6.06 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      {{ caller() }}
    </div>
  </div>

  <div id="{{id}}_toast" class="toast transition-[top] duration-100"></div>
</dialog>

<script type="module">
  document.body.addEventListener("keydown", (e) => {
    if (e.key == "Escape") {
      e.preventDefault();
    }
  });
</script>
{% endmacro %}

<!-- Loading spinner -->
{% macro spinner(hidden, containerClasses, spinnerClasses) %}
<div
  class="spinner {{'hidden' if hidden == True else ''}} {{containerClasses}}"
>
  <svg
    class="animate-spin mx-auto {{spinnerClasses}}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>
</div>
{% endmacro %}

<!-- Button with a spinner to indicate loading -->
{% macro loading_button(id, button_text, button_class) %}
<button
  type="submit"
  id="{{id}}"
  class="loading-button relative flex justify-center items-center py-3 px-4 rounded-lg focus:outline-none focus:ring-4 transition duration-200 {{button_class}}"
>
  <p>{{button_text}}</p>
  {{spinner( True, "absolute left-0 right-0 mx-auto", "w-6 h-6 text-blue-200"
  )}}
</button>

<style>
  .loading-button.loading p {
    opacity: 0;
  }
  .loading-button.loading .spinner {
    display: block;
  }
</style>
{% endmacro %}

<!-- Profile icon (image if exists, otherwise default letter icon) -->
{% macro profile_icon(image_url, user_name, width=300, height=300) %}
<div>
  <span
    class="hidden {{'color-icon' if user_name != session['user_name'] else 'color-icon-u'}} bg-(--color-primary) flex items-center justify-center text-center text-white rounded-[50%] text-3xl"
    style="width: {{width}}px; height: {{height}}px;"
  >
    {{ user_name[0] }}
  </span>

  <img
    class="rounded-[50%]"
    src="{{image_url}}"
    style="width: {{width}}px; height: {{height}}px;"
    onerror="handleProfileIconError(event)"
  />
</div>

<script>
  function handleProfileIconError(e) {
    e.target.classList.add("hidden");
    e.target.previousElementSibling.classList.remove("hidden");
  }
</script>
{% endmacro %}

<!-- Styled Checkbox -->
{% macro styled_checkbox(id, is_checked) %}
<style>
  div.styled-checkbox {
    display: flex;
  }
  div.styled-checkbox div {
    border: 1px solid var(--color-slate-300);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    &:where(.dark, .dark *) {
      background-color: var(--bg-dialog-actions);
    }
  }
  div.styled-checkbox div.active {
    color: var(--color-white);
  }
  div.styled-checkbox div:first-child {
    border-right: 0;
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  }
  div.styled-checkbox div.active:first-child {
    background-color: var(--color-success);
  }
  div.styled-checkbox div:last-child {
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  }
  div.styled-checkbox div.active:last-child {
    background-color: var(--color-error);
  }
</style>

<button id="{{id}}" class="w-fit" onclick="handleCheckboxClick(event, this)">
  <!--prettier-ignore-->
  <input
    id="{{id}}-input"
    type="checkbox"
    {{checked if is_checked}}
    class="hidden"
  />

  <div class="styled-checkbox">
    <div class="check-true {{'active' if is_checked else ''}}">
      <i data-lucide="check" class="w-5 h-5"></i>
    </div>
    <div class="check-false {{'active' if not is_checked else ''}}">
      <i data-lucide="x" class="w-5 h-5"></i>
    </div>
  </div>
</button>

<script type="module">
  // Initialize Icons
  lucide.createIcons();

  function handleCheckboxClick(event, buttonElement) {
    event.preventDefault();

    const checkTrueElement =
      buttonElement.getElementsByClassName("check-true")[0];
    const checkFalseElement =
      buttonElement.getElementsByClassName("check-false")[0];

    const hiddenInput = buttonElement.getElementsByTagName("input")[0];

    if (checkTrueElement.classList.contains("active")) {
      checkTrueElement.classList.remove("active");
      checkFalseElement.classList.add("active");
      hiddenInput.removeAttribute("checked");
    } else {
      checkTrueElement.classList.add("active");
      checkFalseElement.classList.remove("active");
      hiddenInput.setAttribute("checked", "");
    }
  }
  window.handleCheckboxClick = handleCheckboxClick;
</script>
{% endmacro %}

<!-- Date Input (mm/yyyy) -->
{% macro date_input(prefix, value) %}
<div class="date-input-group">
  <input
    id="{{prefix}}-month"
    type="text"
    placeholder="MM"
    inputmode="numeric"
    pattern="\d*"
    class="month-input"
    value="{{value|cv_date_part('m')}}"
  />
  <span>/</span>
  <input
    id="{{prefix}}-year"
    type="text"
    placeholder="YYYY"
    inputmode="numeric"
    pattern="\d*"
    class="year-input"
    value="{{value|cv_date_part('y')}}"
  />
</div>
{% endmacro %}

<!-- CV profile element -->
{% macro cv_profile(id_index = "#TEMP", text_content = "") %}
<div id="container-profile-#TEMP" class="flex gap-2">
  <!-- prettier-ignore -->
  <textarea
    id="profile-{{id_suffix}}"
    class="profile-input border border-[rgba(0,0,0,0.2)] rounded-sm p-4 w-full"
  >{{text_content}}</textarea>

  <div id="list-index" class="list-index">{{id_index}}</div>
  <button
    type="button"
    id="delete-experience-{{id_suffix}}"
    class="delete-index"
    onclick="deleteCvElement(event, 'profile-list')"
  >
    <i data-lucide="trash" class="w-5 h-5"></i>
  </button>
</div>
{% endmacro %}

<!-- CV skill element -->
{% macro cv_skill_row(is_source_cv, id_index = "#TEMP", skill_data = None) %}
<tr
  id="skill_row_{{id_index}}"
  class="skills-row items-center {{'highlight' if skill_data and skill_data.is_highlight else ''}}"
  onclick="openSkillEditDialog(event, this)"
>
  {% if not is_source_cv %}
  <td>
    <i data-lucide="star" class="w-5 h-5"></i>
  </td>
  {% endif %}
  <td class="skill-name">{{skill_data.name if skill_data else ''}}</td>
  <td class="proficiency-cell flex flex-col items-center w-fit text-center">
    <div class="proficiency my-[-10px] text-4xl tracking-tighter">
      <span class="active">-</span>
      <span
        class="{{'active' if skill_data and skill_data.proficiency > 1 else ''}}"
      >
        -
      </span>
      <span
        class="{{'active' if skill_data and skill_data.proficiency > 2 else ''}}"
      >
        -
      </span>
      <span
        class="{{'active' if skill_data and skill_data.proficiency > 3 else ''}}"
      >
        -
      </span>
      <span
        class="{{'active' if skill_data and skill_data.proficiency > 4 else ''}}"
      >
        -
      </span>
    </div>
    <p class="proficiency-text text-sm">Loading...</p>
    <input
      id="proficiency-value-{{id_index}}"
      type="number"
      value="{{skill_data.proficiency if skill_data else ''}}"
      class="hidden proficiency-value"
    />
  </td>
  <td>
    <button
      type="button"
      class="p-2 delete-skill rounded-lg text-(--color-error)"
      onclick="deleteSkillRow(this)"
    >
      <i data-lucide="trash" class="w-5 h-5"></i>
    </button>
  </td>
</tr>
{% endmacro %}

<!-- CV experience element -->
{% macro cv_experience(id_index = "#TEMP", exp_data = None) %}
<div class="flex gap-2">
  <div class="exp-container w-full space-y-2">
    <div class="exp-title relative w-full pt-2">
      <label
        for="exp-title-{{id_index}}"
        class="absolute top-0 left-1 px-1 text-xs font-semibold"
      >
        Title
      </label>
      <input
        id="exp-title-{{id_index}}"
        type="text"
        class="exp-title p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
        value="{{exp_data.title if exp_data else ''}}"
      />
    </div>

    <div class="exp-company relative w-full pt-2">
      <label
        for="exp-company-{{id_index}}"
        class="absolute top-0 left-1 px-1 text-xs font-semibold"
      >
        Company
      </label>
      <input
        id="exp-company-{{id_index}}"
        type="text"
        class="exp-company p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
        value="{{exp_data.company_name if exp_data else ''}}"
      />
    </div>

    <div class="flex gap-2">
      <div class="exp-start-date flex-1 relative w-full pt-2">
        <label
          for="exp-start-{{id_index}}-month"
          class="absolute top-0 left-1 px-1 text-xs font-semibold"
        >
          Start Date (mm/yyyy)
        </label>
        {{ date_input("exp-start-%s" % (id_index), exp_data.start_date if
        exp_data else None) }}
      </div>

      <div class="exp-end-date flex-1 relative w-full pt-2">
        <label
          for="exp-end-{{id_index}}-month"
          class="absolute top-0 left-1 px-1 text-xs font-semibold"
        >
          End Date (mm/yyyy)
        </label>
        {{ date_input("exp-end-%s" % (id_index), exp_data.end_date if exp_data
        else None) }}
      </div>
    </div>

    <div class="exp-description relative w-full pt-2">
      <label
        for="exp-description-{{id_index}}"
        class="absolute top-0 left-1 px-1 text-xs font-semibold"
      >
        Description
      </label>
      <!-- prettier-ignore -->
      <textarea
        id="exp-description-{{id_index}}"
        type="text"
        class="exp-description p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
      >{{exp_data.description if exp_data else ''}}</textarea>
    </div>
  </div>

  <div class="list-index">{{id_index}}</div>
  <button
    type="button"
    class="delete-index"
    onclick="deleteCvElement(event, 'experience-list')"
  >
    <i data-lucide="trash" class="w-5 h-5"></i>
  </button>
</div>
{% endmacro %}

<!-- CV education element -->
{% macro cv_education(id_index = "#TEMP", edu_data = None) %}
<div class="flex gap-2">
  <div class="edu-container w-full space-y-2">
    <div class="relative w-full pt-2">
      <label
        for="edu-title-{{id_index}}"
        class="absolute top-0 left-1 px-1 text-xs font-semibold"
      >
        Title | Degree
      </label>
      <input
        id="edu-title-{{id_index}}"
        type="text"
        class="edu-degree p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
        value="{{edu_data.degree if edu_data else ''}}"
      />
    </div>

    <div class="relative w-full pt-2">
      <label
        for="edu-company-{{id_index}}"
        class="absolute top-0 left-1 px-1 text-xs font-semibold"
      >
        School
      </label>
      <input
        id="edu-company-{{id_index}}"
        type="text"
        class="edu-school p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
        value="{{edu_data.school if edu_data else ''}}"
      />
    </div>

    <div class="flex gap-2">
      <div class="edu-start-date flex-1 relative w-full pt-2">
        <label
          for="edu-{{id_index}}-start-month"
          class="absolute top-0 left-1 px-1 text-xs font-semibold"
        >
          Start Date (mm/yyyy)
        </label>
        {{ date_input("edu-%s-start" % (id_index), edu_data.start_date if
        edu_data else None) }}
      </div>

      <div class="edu-end-date flex-1 relative w-full pt-2">
        <label
          for="edu-{{id_index}}-end-month"
          class="absolute top-0 left-1 px-1 text-xs font-semibold"
        >
          End Date (mm/yyyy)
        </label>
        {{ date_input("edu-%s-end" % (id_index), edu_data.end_date if edu_data
        else None) }}
      </div>
    </div>

    <div class="relative w-full pt-2">
      <label
        for="edu-description-{{id_index}}"
        class="absolute top-0 left-1 px-1 text-xs font-semibold"
      >
        Description
      </label>
      <!-- prettier-ignore -->
      <textarea
        id="edu-description-{{id_index}}"
        type="text"
        class="edu-description p-2 border border-[rgba(0,0,0,0.2)] rounded-sm w-full"
      >{{edu_data.description if edu_data else ''}}</textarea>
    </div>
  </div>

  <div id="list-index" class="list-index">{{id_index}}</div>
  <button
    type="button"
    id="delete-edu-1"
    class="delete-index"
    onclick="deleteCvElement(event, 'edu-list')"
  >
    <i data-lucide="trash" class="w-5 h-5"></i>
  </button>
</div>
{% endmacro %}

<!-- CV view -->
{% macro cv_view(cv_data, profile_view = False) %}
<div class="flex flex-col gap-8">
  <div class="space-y-2">
    <p class="w-full text-lg font-medium">PROFILE</p>
    {% for profile in cv_data.profile_texts %}
    <p>{{profile}}</p>
    {% endfor %}
    <!-- If no profile texts exist -->
    {% if profile_view and not cv_data.profile_texts %}
    <i class="text-(--color-error)">No profile defined</i>
    {% endif %}
  </div>

  <div class="space-y-4">
    <p class="w-full text-lg font-medium">SKILLS</p>
    {% if profile_view or cv_data.show_skill_levels %}
    <div class="space-y-4">
      {% for group in cv_data.skills|groupby('proficiency')|reverse %}
      <div class="space-y-2">
        <p class="w-full font-medium">
          {% if group.grouper == 5 %} 8+ years {% elif group.grouper == 4 %} 6-7
          years {% elif group.grouper == 3 %} 4-5 years {% elif group.grouper ==
          2 %} 1-3 years {% elif group.grouper == 1 %} Less than a year {% endif
          %}
        </p>
        {% for skill in group.list %}
        <span class="skill-tag {{'highlight' if skill.is_highlight else ''}}">
          {{skill.name}}
        </span>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div>
      <!-- Highlight -->
      {% for skill in cv_data.skills %} {% if skill.is_highlight %}
      <span class="skill-tag highlight">{{skill.name}}</span>
      {% endif %} {% endfor %}
      <!-- Normal -->
      {% for skill in cv_data.skills %} {% if not skill.is_highlight %}
      <span class="skill-tag">{{skill.name}}</span>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
    <!-- If no skills exist -->
    {% if profile_view and not cv_data.skills %}
    <i class="text-(--color-error)">No skills defined</i>
    {% endif %}
  </div>

  <div class="space-y-4">
    <p class="w-full text-lg font-medium">WORK EXPERIENCE</p>
    <div class="space-y-6">
      {% for job in cv_data.job_experience %}
      <div>
        <div class="flex justify-between items-center gap-2">
          <b class="text-lg flex-auto">{{job.title}}</b>
          <p class="opacity-[0.5] text-sm flex-none">
            {{job.start_date|cv_date}}
            <!---->
            {% if job.start_date and job.end_date %}
            <!---->
            {{" - %s" % job.end_date|cv_date}}
            <!---->
            {% elif job.start_date %}
            <!---->
            {{" - Present"}}
            <!---->
            {% elif job.end_date %}
            <!---->
            {{job.end_date|cv_date}}
            <!---->
            {% endif %}
          </p>
        </div>
        <div class="opacity-[0.5] mb-2"><i>{{job.company_name}}</i></div>
        <p>{{job.description}}</p>
      </div>
      {% endfor %}
      <!-- If no work experience exists -->
      {% if not cv_data.job_experience %}
      <i class="text-(--color-error)">No work experience defined</i>
      {% endif %}
    </div>
  </div>

  <!---->
  <div class="space-y-4">
    <p class="w-full text-lg font-medium">EDUCATION</p>
    <span class="space-y-6">
      {% for education in cv_data.education %}
      <div>
        <div class="flex justify-between items-center gap-2">
          <b class="text-lg flex-auto">{{education.degree}}</b>
          <p class="opacity-[0.5] text-sm flex-none">
            {{education.start_date|cv_date}}
            <!---->
            {% if education.start_date and education.end_date %}
            <!---->
            {{" - %s" % education.end_date|cv_date}}
            <!---->
            {% elif education.start_date %}
            <!---->
            {{" - Present"}}
            <!---->
            {% elif education.end_date %}
            <!---->
            {{education.end_date|cv_date}}
            <!---->
            {% endif %}
          </p>
        </div>
        <div class="opacity-[0.5] mb-2"><i>{{education.school}}</i></div>
        <p>{{education.description}}</p>
      </div>
      {% endfor %}
      <!-- If no education exists -->
      {% if not cv_data.education %}
      <i class="text-(--color-error)">No education defined</i>
      {% endif %}
    </span>
  </div>
</div>
{% endmacro %}
