<!-- PDF Upload button -->
{% macro pdf_upload() %}
<style>
  .file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    ::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
  .file-input-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  .file-input-label {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 1.5rem;
    border: 2px dashed #739fd5; /* gray-300 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: inherit; /* gray-50 */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .file-input-wrapper:hover .file-input-label {
    border-color: #3b82f6;
    background-color: #e2e4ff;
    &:where(.dark, .dark *) {
      border-color: #3b82f6;
      background-color: var(--color-secondary);
    }
  }
  /* Style for when a file is selected */
  .file-input-wrapper.file-selected .file-input-label {
    border-color: #16a34a; /* green-600 */
  }
  /* Style for when a file is dragged on top of the file input */
  .dragover {
    border: 2px solid #3b82f6; /* gray-300 */
  }
</style>

<div id="file-wrapper" class="file-input-wrapper w-full">
  <label for="pdf-file" id="file-label" class="file-input-label">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-12 h-12 mr-3 text-(--color-primary)"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="1.5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 10v6m0 0l-3-3m3 3l3-3"
      />
    </svg>
    <div>
      <span class="font-medium text-(--color-primary)"> Click to upload </span>
      or drag and drop
      <p id="file-name" class="text-sm mt-1">PDF files only (max 50MB)</p>
    </div>
  </label>
  <input
    type="file"
    id="pdf-file"
    name="file"
    accept="application/pdf"
    class="file-input"
  />
</div>

<script type="module">
  const pdfFile = document.getElementById("pdf-file");
  const fileNameDisplay = document.getElementById("file-name");
  const fileWrapper = document.getElementById("file-wrapper");
  const fileLabel = document.getElementById("file-label");

  /* Clear the dragover style if the file is dragged ANYWHERE other than the file input */
  document.addEventListener("dragover", (e) => {
    if (e.target.id !== "pdf-file") {
      fileLabel.classList.remove("dragover");
    }
  });

  fileWrapper.addEventListener("dragover", (e) => {
    fileLabel.classList.add("dragover");
  });

  fileWrapper.addEventListener("drop", (e) => {
    fileLabel.classList.remove("dragover");
  });

  // Update file name display on file selection
  pdfFile.addEventListener("change", (e) => {
    const file = e.target.files[0];
    if (file) {
      fileNameDisplay.textContent = file.name;
      fileWrapper.classList.add("file-selected");
      fileLabel.classList.add("border-green-600", "bg-green-50");
    } else {
      fileNameDisplay.textContent = "PDF files only (max 50MB)";
      fileWrapper.classList.remove("file-selected");
      fileLabel.classList.remove("border-green-600", "bg-green-50");
    }
  });
</script>
{% endmacro %}

<!-- PIN input field -->
{% macro pin_input() %}
<style>
  /* Hide the increase/decrese arrows on number input */
  @layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  .pin input {
    border: 1px solid rgb(203 213 225);
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.7rem;
    &:where(.dark, .dark *) {
      border-color: rgba(203, 213, 225, 0.2);
    }
  }
</style>
<div class="pin w-full flex gap-1">
  <input
    id="pin-1"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-2"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-3"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-4"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-5"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
  <input
    id="pin-6"
    class="w-1/6 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
    type="number"
    required
  />
</div>

<script type="module">
  const pinArray = [
    document.getElementById("pin-1"),
    document.getElementById("pin-2"),
    document.getElementById("pin-3"),
    document.getElementById("pin-4"),
    document.getElementById("pin-5"),
    document.getElementById("pin-6"),
  ];

  pinArray.forEach((pinInput) => {
    // Only allow input that contains numbers
    // Also allow backspace | delete key | enter
    pinInput.addEventListener("beforeinput", (e) => {
      if (
        !e.inputType.startsWith("delete") &&
        e.inputType != "insertLineBreak" &&
        !/^\d$/.test(e.data)
      ) {
        e.preventDefault();
      }

      // Handle backspace on empty input - move focus to previous input
      // The "input" event will be triggered on the newly focused input
      if (e.inputType == "deleteContentBackward" && pinInput.value == "") {
        const inputNum = e.target.id[e.target.id.length - 1];
        if (inputNum > 1) {
          pinArray[inputNum - 2].focus();
        }
      } else if (
        e.inputType == "deleteContentForward" &&
        pinInput.value == ""
      ) {
        // Same for the delete key - does anyone actually use it?
        const inputNum = e.target.id[e.target.id.length - 1];
        if (inputNum < 6) {
          pinArray[inputNum].focus();

          // Input event won't work correctly, so do things manually
          pinArray[inputNum].value = "";
          e.preventDefault();
        }
      }
    });

    pinInput.addEventListener("input", (e) => {
      // Replace any existing value with the input
      if (pinInput.value.length > 0) {
        e.preventDefault();
        pinInput.value = e.data;
      }

      // Move focus to the next input if not last input
      const inputNum = e.target.id[e.target.id.length - 1];
      if (!e.inputType.startsWith("delete") && inputNum < 6) {
        pinArray[inputNum].focus();
      }
    });

    pinInput.addEventListener("paste", (e) => {
      e.preventDefault();
      let pasteText = e.clipboardData.getData("text");
      pasteText = pasteText.trim(); // Remove surrounding empty space

      // Ensure that pasted text contains only numbers
      if (/^\d+$/.test(pasteText)) {
        // Put the first pasted number to the focused field
        pinInput.value = pasteText[0];

        // Put the rest of the numbers to the following fields
        const inputNum = e.target.id[e.target.id.length - 1];
        let dataIndex = 1;
        for (let x = inputNum; x < pinArray.length; x++) {
          if (pasteText[dataIndex]) {
            pinArray[x].value = pasteText[dataIndex];
            dataIndex++;
            pinArray[x].focus();
          } else {
            // Leave focus on the first empty space if not enough to fill all
            pinArray[x].focus();
            break;
          }
        }
      }
    });

    // Allow navigation between pin inputs with arrow keys
    pinInput.addEventListener("keydown", (e) => {
      // We only care about arrow keys
      if (!e.code.includes("Arrow")) {
        return;
      }

      e.preventDefault();

      const inputNum = e.target.id[e.target.id.length - 1];
      switch (e.code) {
        case "ArrowRight":
          inputNum < 6 ? pinArray[inputNum].focus() : null;
          break;
        case "ArrowLeft":
          inputNum > 1 ? pinArray[inputNum - 2].focus() : null;
          break;
      }
    });
  });
</script>
{% endmacro %}

<!-- Modal -->
{% macro modal(id, title, max_width) %}
<dialog
  id="{{id}}"
  class="hidden modal card bg-(--bg-dialog) rounded-2xl overflow-hidden flex relative z-50"
>
  <!-- Modal content -->
  <div
    class="flex max-w-{{max_width}} w-full max-h-[70%] bg-(--bg-dialog) rounded-xl shadow-md overflow-hidden"
  >
    <div class="relative h-full overflow-y-auto">
      <!-- Modal header -->
      <div
        id="modal-header"
        class="sticky w-full top-0 bg-(--bg-dialog-actions) flex items-center justify-between border-b border-default p-4 md:p-6"
      >
        <h3 class="text-lg font-medium text-heading">{{title}}</h3>
        <button
          id="modal-close-btn"
          type="button"
          class="text-body bg-transparent hover:bg-neutral-tertiary hover:rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
          onclick="closeModal('{{id}}', event)"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18 17.94 6M18 18 6.06 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      {{ caller() }}
    </div>
  </div>
</dialog>

<script type="module">
  document.body.addEventListener("keydown", (e) => {
    if (e.key == "Escape") {
      e.preventDefault();
    }
  });
</script>
{% endmacro %}

<!-- Loading spinner -->
{% macro spinner(hidden, containerClasses, spinnerClasses) %}
<div
  class="spinner {{'hidden' if hidden == True else ''}} {{containerClasses}}"
>
  <svg
    class="animate-spin mx-auto {{spinnerClasses}}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>
</div>
{% endmacro %}

<!-- Button with a spinner to indicate loading -->
{% macro loading_button(id, button_text, button_class) %}
<button
  type="submit"
  id="{{id}}"
  class="loading-button relative flex justify-center items-center py-3 px-4 rounded-lg focus:outline-none focus:ring-4 transition duration-200 {{button_class}}"
>
  <p>{{button_text}}</p>
  {{spinner( True, "absolute left-0 right-0 mx-auto", "w-6 h-6 text-blue-200"
  )}}
</button>

<style>
  .loading-button.loading p {
    opacity: 0;
  }
  .loading-button.loading .spinner {
    display: block;
  }
</style>
{% endmacro %}

<!-- Profile icon (image if exists, otherwise default letter icon) -->
{% macro profile_icon(image_url, user_name, width=300, height=300) %}
<div>
  <span
    class="hidden color-icon bg-(--color-primary) flex items-center justify-center text-center text-white rounded-[50%] text-3xl"
    style="width: {{width}}px; height: {{height}}px;"
  >
    {{ user_name[0] }}
  </span>

  <img
    class="rounded-[50%]"
    src="{{image_url}}"
    style="width: {{width}}px; height: {{height}}px;"
    onerror="handleProfileIconError(event)"
  />
</div>

<script>
  function handleProfileIconError(e) {
    e.target.classList.add("hidden");
    e.target.previousElementSibling.classList.remove("hidden");
  }
</script>
{% endmacro %}
